.footer-mb{
  background:#dfdfdf;
  &_logo{
    padding: 2px 0;
    .logo{
      width: 25%;
      min-width: 152px;
    }
    .socical{
      li{
        a{
          color: #999999;
          font-size: 25px;
        }
        +li{
          margin-left: 15px;
        }
      }
    }
  }
  &_menu{
    padding: 30px 0;
    li{
      width: 50%;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        color: #585858;
      }
    }
  }
  &-contact{
    padding: 20px 0;
    &_item{
      margin-bottom: 30px;
      padding-left: 23px;
      border-left: 6px solid #00baff;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-address{
    padding: 20px 0;
  }
  &-copyright{
    padding: 10px 0 20px 0;
  }
}