.footer_desktop {
  &_menu1 {
    .border-right-custom {
      position: relative;

      &:after {
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 0;
        content: "";
        width: 2px;
        background: #d9d9d9;
      }
    }

    .list-menu {
      display: flex;

      .box-menu {
        width: 20%;
      }
    }

    .list-socical {
      li {
        margin-bottom: 10px;

        .icon {
          display: inline-block;
          background: #f9f9f9;
          padding: 1px 5px;
          margin-right: 5px;
        }
      }
    }
  }

  &_sapoweb {
    .border-top {
      border-top: 1px solid #000 !important;
    }
  }

  &_menu2 {
    border-top: 1px solid #51d0ff;
    border-bottom: 1px solid #51d0ff;
    background: #00baff;

    .menu {
      display: flex;

      li {
        flex-grow: 1;

        a {
          display: block;
          text-align: center;
          padding: 4px 0;
          color: #fff;
          text-transform: capitalize;
        }
      }
    }

    .wrap-social {
      display: none;
    }
  }

  &_address {
    padding: 15px 0 10px 0;
    border-bottom: 2px solid #d5d5d5;
  }

  &_contact {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px 0;

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      padding: 2px 0 0 10px;
      border-left: 4px solid #00baff;

      .wrap-title {
        display: flex;
        align-items: center;
        margin-bottom: 2px;

        .link-quote {
          background: #1e88e5;
          border: 1px solid #5aa8ec;
          border-radius: 30px;
          color: #fff;
          margin-left: 5px;
          padding: 3px 13px;
        }
      }
    }
  }

  .copyright {
    padding: 4px 0;
    background: #d7d7d7;
    font-style: italic;
  }
}