.header {
  &_top {
    padding: 4px 0 7px 0;
    background: #083f59;
    border-top: 1px solid #23546b;
    border-bottom: 1px solid #073a53;

    .container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &_menu {
      display: flex;
      align-items: center;
      margin-right: 20px;

      li {
        & + li:before {
          content: '|';
          display: inline-block;
          color: #fff;
          margin: 0 8px 0 14px;
        }
      }

      a {
        color: #fff;
        text-transform: uppercase;
      }
    }

    &_form {
      width: 230px;
      height: 21px;
      position: relative;

      input {
        display: block;
        border-radius: 30px;
        border: none;
        height: 100%;
        width: 100%;
        padding: 1px 5px 0 10px;
      }

      .btn_search {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        line-height: 9px;
        background: none;
        color: #969696;
        padding-right: 8px;
        outline : 0;
        box-shadow: none;
      }
    }
  }

  &_logo {
    background: #062d40;
    padding: 10px 0 12px 0;
  }

  &_menu {
    position: relative;
    border-top: 1px solid #476471;
    .line_bottom{
      div{
        &:nth-child(1){
          height: 1px;
          background: #45c0ec;
        }
        &:nth-child(2){
          height: 1px;
          background: #00a8e5;
        }
        &:nth-child(3){
          height: 1px;
          background: #45c0ec;
        }
      }
    }
    .menu {
      width: 100%;

      .dropdown-menu {
        margin: 0;
        border-radius: 0;
        padding: 0;
        opacity: 0;
        display: block;
        visibility: hidden;
        border-left: 0;

        li:hover {
          > a {
            transition: all 0.4s;
            padding-left: 20px;
          }
        }

        > li {
          &:hover {
            > .dropdown-menu {
              display: block;
              visibility: visible;
              transition: all 0.4s;
              opacity: 1;
              left: 100%;
            }
          }

          > .dropdown-menu {
            top: 0;
            left: 200%;
            margin-left: 1px;
          }
        }
      }

      > li {
        > .dropdown-menu {
          left: 100%;

          a {
            display: block;
            padding-left: 15px;
          }
        }

        &:hover {
          > .dropdown-menu {
            visibility: visible;
            left: 0;
            transition: all 0.4s;
            opacity: 1;
          }
        }
      }

      li {
        position: relative;
        align-items: center;
        flex: auto;

        &:hover {
          > a {
            transition: 0.4s;
            background: #083f59;
            color: #fff;
          }
        }

        a {
          font-size: 14px;
          height: 100%;
          padding: 7px 0 5px 0;
          text-transform: capitalize;
          color: #000;
        }

        &.open-menu-big-destop {
          position: unset;
          display: inline-flex;
          justify-content: center;
          width: 25px;

          .dot-menu {
            display: inline-flex;
            justify-content: center;
            margin-bottom: 2px;

            span {
              height: 6px;
              width: 6px;
              border-radius: 50%;
              display: block;
              background: #00a8e5;

              & + span {
                margin-left: 2px
              }
            }
          }

          &:hover {
            background: #083f59;
            cursor: pointer;

            .dot-menu {
              span {
                background: #fff;
              }
            }

            .menu-big {
              visibility: visible;
              opacity: 1;
              top: 35px;
              transition: all .3s;
            }
          }

          .menu-big {
            position: absolute;
            z-index: 1;
            top: -100%;
            left: 0;
            right: 0;
            padding: 15px;
            background: #083f59;
            visibility: hidden;
            opacity: 0;
            .item-menu {
              > li {
                > a {
                  text-transform: uppercase;
                }
              }

              a {
                color: #fff;
                display: block;
                padding: 1px;

                &:hover {
                  text-decoration: underline;
                }
              }

              &_sub {
                margin-top: 5px;

                .item-menu_sub {
                  margin-top: 2px;
                  padding-left: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}