.heder-mobile {
  //position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  background: #062d3f;

  .container {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }

  .wrap-button-open-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;

    li {
      padding: 3px 0;
      &:first-child {
        padding-right: 10px;
        border-right: 1px solid #fff;
      }

      &:last-child {
        padding-left: 10px;
      }
    }

    .button-open-menu {
      background: none;
      padding: 0;
      border: 0;

      .icon-bar {
        height: 2px;
        width: 22px;
        background: #fff;
        display: block;

        + .icon-bar {
          margin-top: 3px;
        }
      }
    }
  }
}
.wrap-menu-mobile{
  .mb-filter{
    display: block;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: -100%;
    transition: left 0s .3s, opacity .3s;
    &.show {
      left: 0;
      opacity: .5;
      transition: left 0s, opacity .3s;
    }
  }
  &_inner{
    background-color: #062d3f;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    padding-bottom: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: .3s;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #fff;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #17a2b8;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #e0e0e0;
    }
    &.show {
      left: 0;
    }
    ul.sub-menu{
      border-top: 1px solid #fff;
      padding-left: 10px;
      display: none;
    }
    .menu-mobile {
      .open-sub-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        background: #f4f4f4;
        border-radius: 50%;
        color: #062d3f;
        position: absolute;
        top: 8px;
        right: 15px;
        transition: .3s;
        &.show{
          transform: rotate(-90deg);
          -moz-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
        }
      }
      li {
        position:relative;
        .form-serach-mb{
          display: flex;
          input{
            flex: 1;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
          button{
            background: #f1f1f1;
            width: 40px;
            border: 1px solid #ebebeb;
            border-radius: 0 3px 3px  0;
            font-size: 18px;
            color: #888;
          }
        }
        a {
          display: block;
          padding: 10px 10px 10px 15px;
          color: #fff;
        }
      }

      li + li {
        border-top: 1px solid #fff;
      }
    }
  }
}