.list-post-mb{
  padding-top: 15px;
  li{
    &+li{
      border-top: 1px solid #ededed;
      padding-top: 10px;
      margin-top: 10px;
    }
  }
}
.rate{
  &_title{
    padding-bottom: 10px;
    border-bottom: 10px solid #eeeeee;
  }
  &_content{
    flex-wrap: nowrap;
    overflow: auto;
    &_item{
      background: #f4f4f4;
      min-width: 230px;
      +.rate_content_item{
       margin-left: 15px;
      }
    }
  }
}