.top-content {
  .left {
    width: 65%;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px;

    .news-update {
      color: #737373;
      overflow: hidden;
      flex: 1;

      .label {
        position: relative;
        background: #076182;
        display: inline-block;
        padding: 1px 5px;
        color: #fff;
        border-radius: 2px;
        white-space: nowrap;
        margin-right: 10px;

        &:after {
          position: absolute;
          content: "";
          clip-path: polygon(100% 50%, 50% 0, 50% 100%);
          width: 10px;
          height: 10px;
          background: #076182;
          top: 50%;
          left: calc(100% - 6px);
          transform: translateY(-50%);
        }
      }

      .content-marquee {
        position: relative;
        display: inline-block;
        padding-left: 10px;

        &:after {
          position: absolute;
          content: "";
          width: 3px;
          height: 3px;
          background: #737373;
          border-radius: 50%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .right {
    .dropdown-weather {
      color: #838383;
      font-size: 12px;
      cursor: pointer;
      margin-top: 1px;

      .dropdown-menu {
        a.dropdown-item {
          padding: 4px 15px;

          &:hover {
            color: #fff !important;
            background: #083f59 !important;
          }
        }
      }
    }
  }
}

.article-main {
  &_big {
    .sapo {
      color: #7d7d7d;
    }
  }

  .nav-tab_article {
    border-bottom: 1px solid #cdcdcd;

    a {
      color: #959595;
      padding: 5px 10px;
    }

    a.active {
      color: #00a8e4;
    }
  }

  .list-post {
    padding-top: 10px;
    max-height: 400px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #fff;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #e0e0e0;
      border-radius: 30px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #e0e0e0;
    }
  }

  .article-main_qc {
    border: 1px solid #c9c9c9;

    img {
      padding: 1px 2px;
      border: 1px solid #ececec;
    }
  }
}

.video-home {
  &_inner {
    border-bottom: 2px solid #e5e5e5;
  }

  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 5px 20px 5px;
    border-top: 2px solid #d6d6d6;
    background-image: linear-gradient(#fafafa, #fff);

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background: #fff;
      top: 0px;
      left: 0;
    }

    .nav-video-home {
      font-size: 25px;


    }
  }

    .icon-video {
      position: absolute;
      left: 0;
      bottom: 5px;
      width: unset !important;
      height: unset !important;
    }
}

.section-cat-article {
  .container{
    position: relative;
    &:before{
      position: absolute;
      content: "";
      height: 15px;
      width: 60%;
      background: url(../images/shadow-line.png) no-repeat;
      background-size: contain;
      bottom: -13px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &_inner{
    position: relative;
    padding-bottom: 30px;
    &:before{
      position: absolute;
      content: "";
      width: 30%;
      height: 1px;
      background: linear-gradient(to right, transparent, rgba(220,220,220,1));
      left: 50%;
      bottom: 0;
      transform: translateX(-100%);
    }
    &:after{
      position: absolute;
      content: "";
      width: 30%;
      height: 1px;
      background: linear-gradient(to left, transparent, rgba(220,220,220,1));
      right: 50%;
      bottom: 0;
      transform: translateX(100%);
    }
    .left {
      padding-right: 10px;
      border-right: 2px solid #e4e4e5;

      .list-article {
        li {
          & + li {
            padding-top: 15px;
            margin-top: 15px;
            border-top: 2px solid #e6e6e7;
          }
        }
      }
    }
  }
}

.box-article-cat {
  &_head {
    display: flex;
    align-items: center;
    overflow-y: auto;
    flex-wrap: nowrap;
    background: #f2f2f2;
    border-bottom: 1px solid #c5c5c5;
    justify-content: space-between;
    border-left: 4px solid #00baff;
    padding: 10px 10px 10px 15px;

    &::-webkit-scrollbar {
      height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #fff;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #e0e0e0;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #e0e0e0;
    }

    .title {
      white-space: nowrap;
      padding-right: 15px;
    }

    .cat-child {
      display: flex;
      align-items: center;
      padding-top: 3px;
      justify-content: flex-end;

      li {
        white-space: nowrap;

        a {
          color: #7c7c7c;
          text-transform: uppercase;
        }

        & + li {
          &:before {
            content: "|";
            color: #7c7c7c;
            display: inline-block;
            padding: 0 5px;
          }
        }
      }
    }
  }
}
.slide-articles{
  .title{
    position: relative;
    background: #3974cc;
    color: #fff;
    display: inline-block;
    padding: 3px 14px;
    border: 1px solid #6490d1;
    text-transform: uppercase;
    &:before{
      position: absolute;
      content: "";
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      top: 0;
      bottom: 0;
      left: calc(100% + 1px);
      height: 100%;
      width: 7px;
      background-image: linear-gradient(#868686, #fff);
    }
  }
  .js-slide-articles-slider{
    padding: 5px;
    border: 1px solid #f1f1f1;
  }
}
.feedback{
  &_title{
    background: #00baff;
    color: #fff;
    padding: 9px 0px 9px 10px;
    border: 1px solid #3ac4f7;
  }
  .list-post{
    border: 1px solid #eeeeee;
    li{
      padding: 10px;
      &+li{
        border-top: 1px solid #eeeeee;
      }
    }
  }
}
.articles-last{
  &_title{
    background: #eeeeee;
    color: #00baff;
    padding: 9px 0px 9px 10px;
    border: 1px solid #eeeeee;
  }
  .list-post{
    background: #f9f9f9;
    border: 1px solid #eeeeee;
    li{
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #eeeeee;
      &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}
#back-top{
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  height: 30px;
  width: 30px;
  background: #00baff;
  border-radius: 4px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  &:hover{
    cursor: pointer;
    opacity: 0.75;
  }
}
.header_menu.menu-desktop.fixtop {
  position: fixed;
  z-index: 9999999999;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
}