.wrap-tags-mb{
  padding: 0;
  &:before{
    display: none;
  }
  &:after{
    display: none;
  }
  .list-tag {
    li {
      a {
        padding: 3px 4px;
        border-radius: 0;
        color: #333;
        background: #e1e1e1;
      }
    }
  }
}
.comment-mb{
  .wrap-title{
    position: relative;
    &:before{
      position: absolute;
      content: "";
      background: #00baff;
      height: 5px;
      width: 160px;
      z-index: 999;
      bottom: 0;
      left: 0;
    }
    &:after{
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      background: #bdbdbd;
      bottom: 2px;
      z-index: 99;
      left: 0;
    }
  }
}