.cat-post {
  position: relative;
  padding: 3px 0 3px 12px;
  border-left: 4px solid #0aabe5;

  &:before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: -4px;
    right: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #585858, #585858 75%, transparent 75%, transparent 100%);
    background-size: 3px 1px;
  }

  &:after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: -4px;
    right: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #585858, #585858 75%, transparent 75%, transparent 100%);
    background-size: 3px 1px;
  }

  .title {
    color: #0aabe5;
  }

  .cat-relate {
    a {
      display: inline-block;
      color: #025278;
      border: 1px solid #025278;
      padding: 0 10px;
      border-radius: 30px;

      & + a {
        margin-left: 5px;
      }
    }
  }
}

.interactive {
  li {
    .wp-icon {
      display: inline-block;
      margin-right: 2px;
      border: 1px solid #737373;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      text-align: center;
      line-height: 23px;
    }

    & + li {
      margin-left: 5px;
    }
  }
}

.wrap-articles-related {
  padding: 15px 0 15px 30px;
  border: 1px solid #dddddd;
  border-left: 8px solid #0f4e65;
  background: #f6f6f6;

  .articles-related {
    li {
      padding-left: 15px;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #81d4fa;
        left: 0;
        top: 5px;
      }

      & + li {
        margin-top: 10px;
      }
    }
  }
}

.wrap-tags {
  position: relative;
  padding-bottom: 30px;

  &:before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    right: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #585858, #585858 75%, transparent 75%, transparent 100%);
    background-size: 3px 1px;
  }

  &:after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    right: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #585858, #585858 75%, transparent 75%, transparent 100%);
    background-size: 3px 1px;
  }

  .list-tag {
    display: inline-flex;
    flex-wrap: wrap;

    li {
      margin-bottom: 5px;

      a {
        padding: 1px 4px;
        border-radius: 30px;
        color: #333;
        background: #e1e1e1;
      }
    }

    li + li {
      margin-left: 5px;
    }
  }
}

.comment {
  &_editor {
    .btn_comment {
      background: #47d2ff;
      padding: 3px 16px;
      border: none;
      display: flex;
      margin-left: auto;
      align-items: center;
      color: #fff;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .list-comment {
    li {
      position: relative;
      padding-left: 25px;

      &:before {
        position: absolute;
        content: "\f007";
        font-family: "FontAwesome";
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #d8d8d8;
        text-align: center;
        line-height: 20px;
        color: #fff;
        font-size: 12px;
      }

      .feeling {
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon {
          height: 18px;
          width: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: red;
          font-size: 10px;
          color: #fff;

          &_like {
            background: #3b75f6;
          }

          &_heart {
            background: #ff001a;
          }
        }
      }
    }
  }
}

.list-post-detail {
  border: 1px solid #cbcbcb;
  .title{
    background: #00baff;
    padding: 5px 0 5px 15px;
    color: #fff;
  }
  .list-post {
    padding: 10px 10px 15px 10px;

    li + li {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px dashed;
    }
  }
}
.list-post-detail_2{
  .list-post {
    padding: 10px 10px 15px 10px;

    li + li {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid #ebebeb;
    }
  }
}
.list-post-last{
  background: #f9f9f9;
  padding: 10px 10px 15px 10px;
  li{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aeaeae;
    &:last-child{
      padding-bottom: 0;
      margin-bottom:0;
      border-bottom: 0;
    }
  }
}
.news-relate-2{
  li+li{
    border-top: 1px solid #e3e3e4;
    padding-top: 10px;
    margin-top: 10px;
  }
}