ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  margin-bottom: 0;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    cursor: pointer !important;
    color: #083f59;
  }
}
body{
  font-family: "Roboto-Regular";
  font-size: 14px;
}
input{
  outline: 0;
}
img{
  max-width: 100%;
}
@media(max-width: 991px){
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
}