<footer class="footer_desktop">
    <div class="footer_desktop_menu1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 border-right-custom">
                    <div class="list-menu">
                        <div class="box-menu">
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Thời sự</a>
                                <ul class="sub-menu">
                                    <li><a href="" class="link_unstyle d-inline-block">Tin tức</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Làm theo tấm gương Bác</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Quốc Hội</a></li>
                                </ul>
                            </div>
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Vấn đề sự kiện</a>
                                <ul class="sub-menu">
                                    <li><a href="" class="link_unstyle d-inline-block">Tiêu điểm</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Bạn đọc quan tâm</a></li>
                                </ul>
                            </div>
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Nông nghiệp nông thôn</a>
                                <ul class="sub-menu">
                                    <li><a href="" class="link_unstyle d-inline-block">Sổ tay</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Nông nghiệp công nghệ cao</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Cách làm sáng tạo</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Kinh tế</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-menu">
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Kinh tế</a>
                                <ul class="sub-menu">
                                    <li><a href="" class="link_unstyle d-inline-block">Tin tức kinh tế</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Doanh nghiệp</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Bí quyết làm giàu</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Thương hiệu</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Khuyến nông</a></li>
                                </ul>
                            </div>
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Tư vấn luật</a>
                                <ul class="sub-menu">
                                    <li><a href="" class="link_unstyle d-inline-block">Tin tức</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Văn bản mới</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Tư vấn</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Bạn đọc</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-menu">
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Tiêu dùng</a>
                                <ul class="sub-menu">
                                    <li><a href="" class="link_unstyle d-inline-block">Cây thuốc trong vườn</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Sống khỏe</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Khuyến mại</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">An toàn thực phẩm</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Khuyến nông</a></li>
                                </ul>
                            </div>
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Chính sách mới</a>
                            </div>
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Nhịp sống</a>
                                <ul class="sub-menu">
                                    <li><a href="" class="link_unstyle d-inline-block">Ảnh</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-menu">
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Liên kết</a>
                                <ul class="sub-menu">
                                    <li><a href="" class="link_unstyle d-inline-block">Thể thao</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Tin tức</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Đọc báo</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Nông thôn toàn cầu</a></li>
                                    <li><a href="" class="link_unstyle d-inline-block">Công Nghệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-menu">
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Văn hóa</a>
                            </div>
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Video</a>
                            </div>
                            <div class="box-menu_item mb-20">
                                <a href="" class="link_unstyle f-roboto-b text-uppercase d-inline-block">Tạp chí</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 pl-4">
                    <h2 class="t-18 mb-10">Social & Apps</h2>
                    <ul class="list-socical">
                        <li><a href="" class="link_unstyle"><span class="icon"><i class="fa fa-facebook-square" aria-hidden="true"></i></span>Facebook</a></li>
                        <li><a href="" class="link_unstyle"><span class="icon"><i class="fa fa-youtube-square" aria-hidden="true"></i></span>Youtube</a></li>
                        <li><a href="" class="link_unstyle"><span class="icon"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span>Linkedin</a></li>
                        <li><a href="" class="link_unstyle"><span class="icon"><i class="fa fa-twitter-square" aria-hidden="true"></i></span>Twitter</a></li>
                        <li><a href="" class="link_unstyle"><span class="icon"><i class="fa fa-google-plus-square" aria-hidden="true"></i></i></span>Google+</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_desktop_sapoweb mb-40">
        <div class="container">
            <div class="border-top">
                <div class="mt-10 mb-15">
                    <span class="f-roboto-b">Chùm tin</span>
                    Chính trị, Nông sản Việt, Thời sự Nông nghiệp, Xã hội , Phóng sự, tin 24h, Chuyện lạ, Cây thuốc, Nông nghiệp Việt Nam, Chính trị, Nông sản Việt, Thời sự Nông nghiệp, Xã hội , Phóng sự, tin 24h, Chuyện lạ, Cây thuốc, Nông nghiệp Việt Nam, Chính trị, Nông sản Việt, Thời sự Nông nghiệp, Xã hội , Phóng sự, tin 24h, Chuyện lạ, Cây thuốc, Nông nghiệp Việt Nam, Chính trị, Nông sản Việt, Thời sự Nông nghiệp, Xã hội , Phóng sự, tin 24h, Chuyện lạ, Cây thuốc, Nông nghiệp Việt Nam,
                </div>
                <img src="../images/qc_footer.png" alt="" class="w-100">
            </div>
        </div>
    </div>
    <div class="footer_desktop_menu2">
        <div class="container">
            <ul class="menu">
                <li><a href="">Thời sự</a></li>
                <li><a href="">Tạp chí in</a></li>
                <li><a href="">Vấn đề sự kiện</a></li>
                <li><a href="">Nông nghiệp nông thôn</a></li>
                <li><a href="">kinh tế</a></li>
                <li><a href="">Tư vấn luật</a></li>
                <li><a href="">Tiêu dùng</a></li>
                <li><a href="">Chính sách mới</a></li>
                <li><a href="">Nhịp sống</a></li>
                <li><a href="">Liên kết</a></li>
                <li><a href="">Văn hóa</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="footer_desktop_address">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <a href="" class="d-block"><img src="../images/logo-footer.png" alt=""></a>
                </div>
                <div class="col-md-9">
                    <h2 class="t-14 f-roboto-b mb-8">TẠP CHÍ DOANH NGHIỆP VÀ THƯƠNG HIỆU</h2>
                    <div class="d-flex align-items-center"><i class="fa fa-map-marker mr-1 t-18 cl-00baff"
                                                              aria-hidden="true"></i>Tòa soạn trị sự: Tầng 3 - Số 17 ngõ
                        167 Phố Tây Sơn, Đống Đa, Hà Nội
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="d-flex align-items-center mr-3"><i class="fa fa-envelope cl-7f7f7f mr-1"></i>tapchidoanhnghiepvathuonghieu@gmail.com
                        </div>
                        <div class="d-flex align-item-center mr-1"><img src="../images/icon-phone.png" alt=""
                                                                        class="d-block w-15"></div>
                        024.6657.6928 | 034.333.1111
                    </div>
                </div>
            </div>
        </div>
        <ul class="footer_desktop_contact">
            <li>
                <div class="wrap-title"><h3 class="t-14 f-roboto-b title">Phó tổng biên tập phụ trách</h3></div>
                <span>Nguyễn nam thắng</span>
            </li>
            <li>
                <div class="wrap-title">
                    <h3 class="t-14 f-roboto-b title">Trưởng ban điện tử</h3>
                </div>
                <span>Trần đô thành</span>
            </li>
            <li>
                <div class="wrap-title">
                    <h3 class="t-14 f-roboto-b title">Giấy phép số :</h3>224/GP-TTĐT
                </div>
                <span>Cục PTTHTTĐT Cấp ngày 30/08/2018</span>
            </li>
            <li>
                <div class="wrap-title">
                    <h3 class="t-14 f-roboto-b title">Hợp tác quảng cáo</h3>
                    <a href="" class="link-quote">Báo giá hợp tác quảng cáo</a>
                </div>
                <div class="d-flex align-center">
                    <div class="d-flex align-items-center"><i class="fa fa-envelope cl-7f7f7f mr-1"></i>marketingTCTH@gmail.com
                    </div>
                    <div class="d-flex align-items-center ml-3">
                        <div class="mr-1"><img src="../images/icon-phone.png" alt="" class="d-block w-15"></div>
                        <a href="" class="f-roboto-b">090.468.4321</a></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="copyright t-12 f-tahoma text-center">
        <div class="container">
            Ghi rõ nguồn “doanhnghiepthuonghieu.vn” khi phát hành lại thông tin từ website này. Tạp chí Doanh nghiệp &
            Thương hiệu điện tử không chịu trách nhiệm nội dung ở những trang ngoài
        </div>
    </div>
</footer>
<div id="back-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
<script src="../vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="../vendor/popper/popper.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../vendor/owlcarousel/owl.carousel.js"></script>
<script src="../js/global.js"></script>