<div class="container">
    <div class="mb-30">
        <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
        <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
        <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc gia
            ứng
            phó sự cố, thiên tai và Tìm kiếm cứu nạn
        </div>
        <ul class="list-post-mb border-top">
            <li>
                <div class="media">
                    <a href="" class="mr-10">
                        <img src="../images/img-list-mb-2.png">
                    </a>
                    <div class="media-body">
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                            thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <a href="" class="mr-10">
                        <img src="../images/img-list-mb-2.png">
                    </a>
                    <div class="media-body">
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                            thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <a href="" class="mr-10">
                        <img src="../images/img-list-mb-2.png">
                    </a>
                    <div class="media-body">
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                            thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <a href="" class="mr-10">
                        <img src="../images/img-list-mb-2.png">
                    </a>
                    <div class="media-body">
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                            thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <a href="" class="mr-10">
                        <img src="../images/img-list-mb-2.png">
                    </a>
                    <div class="media-body">
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                            thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <a href="" class="p-1 mb-30 d-inline-block"><img src="../images/qc-mb.png" alt=""></a>
    <ul class="list-post-mb pt-0 mb-30">
        <li>
            <div class="media">
                <a href="" class="mr-10">
                    <img src="../images/img-list-mb-2.png">
                </a>
                <div class="media-body">
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho thấy
                        mâu thuẫn sâu sắc với TT Trump</a></h3>
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <a href="" class="mr-10">
                    <img src="../images/img-list-mb-2.png">
                </a>
                <div class="media-body">
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho thấy
                        mâu thuẫn sâu sắc với TT Trump</a></h3>
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <a href="" class="mr-10">
                    <img src="../images/img-list-mb-2.png">
                </a>
                <div class="media-body">
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho thấy
                        mâu thuẫn sâu sắc với TT Trump</a></h3>
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <a href="" class="mr-10">
                    <img src="../images/img-list-mb-2.png">
                </a>
                <div class="media-body">
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho thấy
                        mâu thuẫn sâu sắc với TT Trump</a></h3>
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <a href="" class="mr-10">
                    <img src="../images/img-list-mb-2.png">
                </a>
                <div class="media-body">
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho thấy
                        mâu thuẫn sâu sắc với TT Trump</a></h3>
                </div>
            </div>
        </li>
        <li>
            <div class="media">
                <a href="" class="mr-10">
                    <img src="../images/img-list-mb-2.png">
                </a>
                <div class="media-body">
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho thấy
                        mâu thuẫn sâu sắc với TT Trump</a></h3>
                </div>
            </div>
        </li>
    </ul>
    <div class="rate mb-30">
        <div class="rate_title mb-15">
            <h2 class="t-25 cl-164069 f-roboto-b">Tỷ giá</h2>
        </div>
        <div class="rate_content d-flex mb-1">
            <div class="rate_content_item p-10">
                <div class="border-bottom-fff text-uppercase pb-10 f-roboto-b d-flex justify-content-between align-items-center">
                    <h3 class="t-20 cl-164069">usd</h3>
                </div>
                <div class="d-flex justify-content-between align-items-end pt-1 pb-1">
                    <span class="f-roboto-b cl-696969">Mua</span>
                    <span class="f-roboto-b t-20">23,160</span>
                </div>
                <div class="d-flex justify-content-between mt-20 align-items-end pt-1 pb-1">
                    <span class="f-roboto-b cl-696969">Mua</span>
                    <span class="f-roboto-b t-20">23,160</span>
                </div>
            </div>
            <div class="rate_content_item p-10">
                <div class="border-bottom-fff text-uppercase pb-10 f-roboto-b d-flex justify-content-between align-items-center">
                    <h3 class="t-20 cl-164069">jpy</h3>
                </div>
                <div class="d-flex justify-content-between align-items-end  pt-1 pb-1">
                    <span class="f-roboto-b cl-696969">Mua</span>
                    <span class="f-roboto-b t-20">23,160</span>
                </div>
                <div class="d-flex justify-content-between mt-20 align-items-end  pt-1 pb-1">
                    <span class="f-roboto-b cl-696969">Mua</span>
                    <span class="f-roboto-b t-20">23,160</span>
                </div>
            </div>
        </div>
        <div class="cl-696969">Đơn vị tính: đồng</div>
    </div>
    <div class="rate mb-30">
        <div class="rate_title mb-15">
            <h2 class="t-25 cl-164069 f-roboto-b">Giá nông sản</h2>
        </div>
        <div class="rate_content d-flex mb-1">
            <div class="rate_content_item p-10">
                <div class="border-bottom-fff text-uppercase pb-10 f-roboto-b d-flex justify-content-between align-items-center">
                    <h3 class="t-20 cl-164069">Gạo</h3>
                    Đ/KG
                </div>
                <div class="d-flex justify-content-between align-items-end pt-1 pb-1">
                    <span class="f-roboto-b cl-696969">Tuần này</span>
                    <span class="f-roboto-b t-20">5.990</span>
                </div>
                <div class="d-flex justify-content-between mt-20 align-items-end pt-1 pb-1">
                    <span class="f-roboto-b cl-696969">Tuần trước</span>
                    <span class="f-roboto-b t-20">5.990</span>
                </div>
            </div>
            <div class="rate_content_item p-10">
                <h3 class="t-20 cl-164069 f-roboto-b text-uppercase pb-10  border-bottom-fff">Cà phê</h3>
                <div class="d-flex justify-content-between align-items-end  pt-1 pb-1">
                    <span class="f-roboto-b cl-696969">Tuần này</span>
                    <span class="f-roboto-b t-20">5.990</span>
                </div>
                <div class="d-flex justify-content-between mt-20 align-items-end  pt-1 pb-1">
                    <span class="f-roboto-b cl-696969">Tuần trước</span>
                    <span class="f-roboto-b t-20">5.990</span>
                </div>
            </div>
        </div>
        <div class="cl-696969">Đơn vị tính: đồng</div>
    </div>
    <div class="mb-30">
        <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
        <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
        <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc gia
            ứng
            phó sự cố, thiên tai và Tìm kiếm cứu nạn
        </div>
        <ul class="list-post-mb border-top">
            <li>
                <div class="media">
                    <a href="" class="mr-10">
                        <img src="../images/img-list-mb-2.png">
                    </a>
                    <div class="media-body">
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                            thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <a href="" class="mr-10">
                        <img src="../images/img-list-mb-2.png">
                    </a>
                    <div class="media-body">
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                            thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <a href="" class="mr-10">
                        <img src="../images/img-list-mb-2.png">
                    </a>
                    <div class="media-body">
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                            thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <a href="" class="mr-10">
                        <img src="../images/img-list-mb-2.png">
                    </a>
                    <div class="media-body">
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                            thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <section class="video-home mb-30 border-0">
        <div class="border-footer_mb"></div>
        <div class="video-home_title border-0">
            <h2 class="f-roboto-b t-14 d-inline-flex align-items-center">
                <img src="../images/icon-video.png" alt="" class="d-inline-block mr-2">Video
            </h2>
        </div>
        <a href="" class="d-block mb-15 position-relative">
            <img src="../images/img-news-mb.png" alt="">
            <img alt="" src="../images/icon-video_2.png" class="icon-video">
        </a>
        <h3 class="t-20 f-roboto-b mb-10"><a href="" class="link_unstyle">Giám sát quyền lực để cán bộ không còn vô
            cảm với dân</a></h3>
        <div class="row border-top gutter-10 pt-10">
            <div class="col-6">
                <a href="" class="d-block mb-10 position-relative">
                    <img src="../images/img-list-mb-2.png">
                    <img alt="" src="../images/icon-video_2.png" class="icon-video">
                </a>
                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Giám sát quyền lực để cán bộ
                    không còn vô cảm với
                    dân</a></h3>
            </div>
            <div class="col-6">
                <a href="" class="d-block mb-10 position-relative">
                    <img src="../images/img-list-mb-2.png">
                    <img alt="" src="../images/icon-video_2.png" class="icon-video">
                </a>
                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Giám sát quyền lực để cán bộ
                    không còn vô cảm với
                    dân</a></h3>
            </div>
        </div>
    </section>
    <div class="box-article-cat mb-30">
        <div class="box-article-cat_head mb-15">
            <h2 class="f-roboto-b t-20 title">Thời sự</h2>
            <ul class="cat-child">
                <li><a href="">tin tức - sự kiện</a></li>
                <li><a href="">Vấn đề</a></li>
                <li><a href="">Làm giàu</a></li>
            </ul>
        </div>
        <div class="box-article-cat_content">
            <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
            <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
            <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc
                gia ứng
                phó sự cố, thiên tai và Tìm kiếm cứu nạn
            </div>
            <ul class="list-post-mb border-top">
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-article-cat mb-30">
        <div class="box-article-cat_head mb-15">
            <h2 class="f-roboto-b t-20 title">Kinh tế</h2>
            <ul class="cat-child">
                <li><a href="">tin tức</a></li>
                <li><a href="">Doanh nghiệp</a></li>
                <li><a href="">Làm giàu</a></li>
            </ul>
        </div>
        <div class="box-article-cat_content">
            <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
            <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
            <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc
                gia ứng
                phó sự cố, thiên tai và Tìm kiếm cứu nạn
            </div>
            <ul class="list-post-mb border-top">
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-article-cat mb-30">
        <div class="box-article-cat_head mb-15">
            <h2 class="f-roboto-b t-20 title">Nông nghiệp nông thôn</h2>
            <ul class="cat-child">
                <li><a href="">tin tức</a></li>
                <li><a href="">Doanh nghiệp</a></li>
                <li><a href="">Làm giàu</a></li>
            </ul>
        </div>
        <div class="box-article-cat_content">
            <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
            <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
            <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc
                gia ứng
                phó sự cố, thiên tai và Tìm kiếm cứu nạn
            </div>
            <ul class="list-post-mb border-top">
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="slide-articles mb-30">
    <div class="container">
        <h2 class="f-roboto-b t-14 title">Tạp chí in</h2>
    </div>
    <div class="bg-4a4a4a">
        <div class="container">
            <div class="pt-15 pb-15">
                <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
                <h2 class="t-20 f-roboto-b mb-10 cl-fff">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
                <ul class="list-post-mb border-top">
                    <li>
                        <div class="media">
                            <a href="" class="mr-10">
                                <img src="../images/img-list-mb-2.png">
                            </a>
                            <div class="media-body">
                                <h3 class="t-14 f-roboto-b cl-fff"><a href="" class="link_unstyle">Thư từ chức của tướng
                                    Mattis
                                    cho thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="" class="mr-10">
                                <img src="../images/img-list-mb-2.png">
                            </a>
                            <div class="media-body">
                                <h3 class="t-14 f-roboto-b cl-fff"><a href="" class="link_unstyle">Thư từ chức của tướng
                                    Mattis
                                    cho thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="box-article-cat mb-30">
        <div class="box-article-cat_head mb-15">
            <h2 class="f-roboto-b t-20 title">Nhịp sống</h2>
            <ul class="cat-child">
                <li><a href="">tin tức</a></li>
                <li><a href="">Doanh nghiệp</a></li>
                <li><a href="">Làm giàu</a></li>
            </ul>
        </div>
        <div class="box-article-cat_content">
            <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
            <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
            <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc
                gia ứng
                phó sự cố, thiên tai và Tìm kiếm cứu nạn
            </div>
            <ul class="list-post-mb border-top">
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-article-cat mb-30">
        <div class="box-article-cat_head mb-15">
            <h2 class="f-roboto-b t-20 title">Văn hóa</h2>
            <ul class="cat-child">
                <li><a href="">tin tức</a></li>
                <li><a href="">Doanh nghiệp</a></li>
                <li><a href="">Làm giàu</a></li>
            </ul>
        </div>
        <div class="box-article-cat_content">
            <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
            <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
            <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc
                gia ứng
                phó sự cố, thiên tai và Tìm kiếm cứu nạn
            </div>
            <ul class="list-post-mb border-top">
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <a href="" class="p-1 mb-30 d-inline-block"><img src="../images/qc-mb.png" alt=""></a>
    <div class="box-article-cat mb-30">
        <div class="box-article-cat_head mb-15">
            <h2 class="f-roboto-b t-20 title">Tư vấn luật</h2>
            <ul class="cat-child">
                <li><a href="">tin tức</a></li>
                <li><a href="">Doanh nghiệp</a></li>
                <li><a href="">Làm giàu</a></li>
            </ul>
        </div>
        <div class="box-article-cat_content">
            <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
            <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
            <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc
                gia ứng
                phó sự cố, thiên tai và Tìm kiếm cứu nạn
            </div>
            <ul class="list-post-mb border-top">
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-article-cat mb-30">
        <div class="box-article-cat_head mb-15">
            <h2 class="f-roboto-b t-20 title">Tiêu dùng</h2>
            <ul class="cat-child">
                <li><a href="">tin tức</a></li>
                <li><a href="">Doanh nghiệp</a></li>
                <li><a href="">Làm giàu</a></li>
            </ul>
        </div>
        <div class="box-article-cat_content">
            <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
            <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
            <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc
                gia ứng
                phó sự cố, thiên tai và Tìm kiếm cứu nạn
            </div>
            <ul class="list-post-mb border-top">
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-article-cat mb-30">
        <div class="box-article-cat_head mb-15">
            <h2 class="f-roboto-b t-20 title">Chính sách mới</h2>
            <ul class="cat-child">
                <li><a href="">tin tức</a></li>
                <li><a href="">Doanh nghiệp</a></li>
                <li><a href="">Làm giàu</a></li>
            </ul>
        </div>
        <div class="box-article-cat_content">
            <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
            <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
            <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc
                gia ứng
                phó sự cố, thiên tai và Tìm kiếm cứu nạn
            </div>
            <ul class="list-post-mb border-top">
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-article-cat mb-30">
        <div class="box-article-cat_head mb-15">
            <h2 class="f-roboto-b t-20 title">Liên kết</h2>
            <ul class="cat-child">
                <li><a href="">tin tức</a></li>
                <li><a href="">Doanh nghiệp</a></li>
                <li><a href="">Làm giàu</a></li>
            </ul>
        </div>
        <div class="box-article-cat_content">
            <a href="" class="d-block mb-15"><img src="../images/img-news-mb.png" alt=""></a>
            <h2 class="t-20 f-roboto-b mb-10">Giám sát quyền lực để cán bộ không còn vô cảm với dân</h2>
            <div class="max-line max-line-3 mb-30">Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc
                gia ứng
                phó sự cố, thiên tai và Tìm kiếm cứu nạn
            </div>
            <ul class="list-post-mb border-top">
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="mr-10">
                            <img src="../images/img-list-mb-2.png">
                        </a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Thư từ chức của tướng Mattis cho
                                thấy mâu thuẫn sâu sắc với TT Trump</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <a href="" class="p-1 mb-30 d-inline-block"><img src="../images/qc-mb.png" alt=""></a>
</div>