<div class="container">
    <h1 class="t-25 f-roboto-b cl-083f59 mb-10">Đón đầu xu hướng du lịch hạng sang - bất động sản Nam Phú Quốc
        'lên ngôi'</h1>
    <div class="info-author cl-737373 mb-15">
        <img src="../images/icon-clock.png" alt="" class="mr-1"><span>10/07/2019 09:43 GMT+7</span>
    </div>
    <ul class="d-flex align-items-center interactive mb-15">
        <li>
            <span class="wp-icon"><img src="../images/icon-like.png" alt=""></span><span>36</span>
        </li>
        <li>
            <span class="wp-icon"><img src="../images/icon-fb.png" alt=""></span><span>36</span>
        </li>
        <li>
            <span class="wp-icon"><img src="../images/icon-aaa.png" alt=""></span><span>36</span>
        </li>
        <li>
            <span class="wp-icon"><img src="../images/icon-ms.png" alt=""></span><span>36</span>
        </li>
    </ul>
    <div class="des f-roboto-b border-bottom mb-10 pb-10">
        Nam Phú Quốc với tổ hợp giải trí, nghỉ dưỡng đẳng cấp không chỉ góp phần quan trọng thu hút 2,2 triệu
        lượt khách cùng doanh thu 3.829 tỷ đồng cho đảo Ngọc trong 6 tháng đầu năm mà còn đưa Phú Quốc thành
        điểm đến du lịch hạng sang trên bản đồ quốc tế.
    </div>
    <div class="content mb-20">
        <p>Tổng thống Pháp Emmanuel Macron và phu nhân bất ngờ vì thấy thảm đỏ được trải sẵn nhưng không
            có bóng dáng quan chức Argentina nào chờ sẵn và đón tiếp theo nghi thức thường thấy. Sau vài
            giây nhìn xung quanh, Macron quyết định bắt tay với những nhân viên sân bay tại đó, RT đưa
            tin.</p>
        <p>Chỉ đến lúc Macron ra xe, Phó tổng thống Argentian Gabriela Michetti mới tới sân bay và nói
            rằng nghi thức ngoại giao gây ra sự chậm trễ nói trên. "Chúng tôi phải chờ họ nói rằng 'đến
            lúc rồi' để đi ra thảm đỏ đón tiếp Tổng thống Pháp và phu nhân. Về lý thuyết mọi việc đã
            được lên lịch trình, nhưng khi họ nói 'đến lúc rồi' thì Tổng thống Pháp và phu nhân đã bước
            ra xe", Michetti cho biết.</p>
        <p>Nước chủ nhà Argentina áp dụng các nghi thức đón tiếp khác nhau với các lãnh đạo G20, tùy
            theo yêu cầu của từng đoàn. Chủ tịch Trung Quốc Tập Cận Bình cùng phu nhân được tiếp đón
            long trọng với đoàn quân nhạc, trong khi Tổng thống Mỹ Donald Trump được đón tiếp với nghi
            thức đơn giản hơn và thảm đỏ không được sử dụng theo yêu cầu của mật vụ Mỹ. Các lãnh đạo
            khác được một quan chức đại diện của Argentina đón tại sân bay và lên đường về khách sạn sau
            đó.</p>
        <p>Hội nghị thượng đỉnh G20 được tổ chức tại thủ đô Buenos Aires từ ngày 30/11 đến ngày 1/12,
            với sự tham gia của lãnh đạo các nền kinh tế thành viên. Macron sẽ ở lại thủ </p>
        <img src="../images/img-content-news.png" alt="" class="d-block text-center mb-10">
        <p>Tổng thống Pháp Emmanuel Macron và phu nhân bất ngờ vì thấy thảm đỏ được trải sẵn nhưng không
            có bóng dáng quan chức Argentina nào chờ sẵn và đón tiếp theo nghi thức thường thấy. Sau vài
            giây nhìn xung quanh, Macron quyết định bắt tay với những nhân viên sân bay tại đó, RT đưa
            tin.</p>
        <p>Chỉ đến lúc Macron ra xe, Phó tổng thống Argentian Gabriela Michetti mới tới sân bay và nói
            rằng nghi thức ngoại giao gây ra sự chậm trễ nói trên. "Chúng tôi phải chờ họ nói rằng 'đến
            lúc rồi' để đi ra thảm đỏ đón tiếp Tổng thống Pháp và phu nhân. Về lý thuyết mọi việc đã
            được lên lịch trình, nhưng khi họ nói 'đến lúc rồi' thì Tổng thống Pháp và phu nhân đã bước
            ra xe", Michetti cho biết.</p>
        <p>Nước chủ nhà Argentina áp dụng các nghi thức đón tiếp khác nhau với các lãnh đạo G20, tùy
            theo yêu cầu của từng đoàn. Chủ tịch Trung Quốc Tập Cận Bình cùng phu nhân được tiếp đón
            long trọng với đoàn quân nhạc, trong khi Tổng thống Mỹ Donald Trump được đón tiếp với nghi
            thức đơn giản hơn và thảm đỏ không được sử dụng theo yêu cầu của mật vụ Mỹ. Các lãnh đạo
            khác được một quan chức đại diện của Argentina đón tại sân bay và lên đường về khách sạn sau
            đó.</p>
        <p>Hội nghị thượng đỉnh G20 được tổ chức tại thủ đô Buenos Aires từ ngày 30/11 đến ngày 1/12,
            với sự tham gia của lãnh đạo các nền kinh tế thành viên. Macron sẽ ở lại thủ đô Buenos Aires
            trong bốn ngày để thảo luận về quan hệ kinh tế giữa Pháp và Argentina.</p>
        <p>Hội nghị thượng đỉnh G20 được tổ chức tại thủ đô Buenos Aires từ ngày 30/11 đến ngày 1/12,
            với sự tham gia của lãnh đạo các nền kinh tế thành viên. Macron sẽ ở lại thủ đô Buenos Aires
            trong bốn ngày để thảo luận về quan hệ kinh tế giữa Pháp và Argentina.</p>
    </div>
    <div class="text-right mb-20"><img src="../images/icon-penci.png" alt=""
                                       class="d-inline-block mr-1"><span class="f-roboto-b">HoaLam</span>
    </div>
</div>
<div class="wrap-articles-related mb-15 border-left-0">
    <div class="container">
        <h2 class="f-roboto-b t-18 mb-15">Xem thêm về <a href="" class="cl-00baff">Tổng thống Pháp</a>
        </h2>
        <ul class="articles-related">
            <li>
                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Các học tiếng Anh cực kỳ
                    hiệu quả mà rất thú vị chỉ với 10 phút ngắn</a></h3>
            </li>
            <li>
                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">HĐND tỉnh Thanh Hóa Khóa
                    XVII các đại biểu biểu quyết và đồng ý dừng phần chất vấn Giám đốc Sở TN-MT</a></h3>
            </li>
            <li>
                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">HĐND tỉnh Thanh Hóa Khóa
                    XVII các đại biểu biểu quyết và đồng ý dừng phần chất vấn Giám đốc Sở TN-MT</a></h3>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="wrap-tags mb-30 wrap-tags-mb">
        <img src="../images/icon-tag.png" alt="" class="d-inline-block mr-2"><span class="f-roboto-b">Từ khóa:</span>
        <ul class="list-tag">
            <li><a href="">tàu tuần tra</a></li>
            <li><a href="">Don</a></li>
            <li><a href="">Đâm húc</a></li>
            <li><a href="">Truy đuổi</a></li>
            <li><a href="">Tàu tuần tra</a></li>
        </ul>
    </div>
    <div class="comment comment-mb mb-30">
        <div class="d-flex justify-content-between align-items-baseline mb-15 wrap-title pb-10">
            <h2 class="f-roboto-b t-20 d-inline-block">Bình luận</h2>
            <ul class="d-flex align-items-end">
                <li><a href="" class="cl-999999 t-25"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="ml-10"><a href="" class="cl-999999 t-25"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="ml-10"><a href="" class="cl-999999 t-25"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <form action="" class="comment_editor mb-10">
            <textarea name="" class="form-control mb-10"></textarea>
            <button class="btn_comment"><span class="mr-2">Gửi bình luận</span> <img
                    src="../images/icon-arrow-right.png" alt=""></button>
        </form>
    </div>
    <a href="" class="p-1 mb-30 d-inline-block"><img src="../images/qc-mb.png" alt=""></a>
    <div class="list-post-detail_2 mb-30">
        <div class="box-article-cat mb-15 border">
            <div class="box-article-cat_head">
                <h2 class="f-roboto-b t-20 title">Có thể bạn quan tâm</h2>
            </div>
            <ul class="list-post">
                <li>
                    <div class="media">
                        <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                chuỗi bất bại dài nhất thế giới</a></h3>
                            <div class="cl-737373 t-11 d-flex align-items-center">
                                <img src="../images/icon-clock.png" alt=""
                                     class="mr-1"><span>10/07/2019 09:43</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                chuỗi bất bại dài nhất thế giới</a></h3>
                            <div class="cl-737373 t-11 d-flex align-items-center">
                                <img src="../images/icon-clock.png" alt=""
                                     class="mr-1"><span>10/07/2019 09:43</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                chuỗi bất bại dài nhất thế giới</a></h3>
                            <div class="cl-737373 t-11 d-flex align-items-center">
                                <img src="../images/icon-clock.png" alt=""
                                     class="mr-1"><span>10/07/2019 09:43</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                chuỗi bất bại dài nhất thế giới</a></h3>
                            <div class="cl-737373 t-11 d-flex align-items-center">
                                <img src="../images/icon-clock.png" alt=""
                                     class="mr-1"><span>10/07/2019 09:43</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                chuỗi bất bại dài nhất thế giới</a></h3>
                            <div class="cl-737373 t-11 d-flex align-items-center">
                                <img src="../images/icon-clock.png" alt=""
                                     class="mr-1"><span>10/07/2019 09:43</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="list-post-detail_2 mb-30">
        <div class="box-article-cat mb-15 border">
            <div class="box-article-cat_head">
                <h2 class="f-roboto-b t-20 title">Tin cùng chuyên mục</h2>
            </div>
            <ul class="list-post">
                <li>
                    <div class="media">
                        <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                chuỗi bất bại dài nhất thế giới</a></h3>
                            <div class="cl-737373 t-11 d-flex align-items-center">
                                <img src="../images/icon-clock.png" alt=""
                                     class="mr-1"><span>10/07/2019 09:43</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                chuỗi bất bại dài nhất thế giới</a></h3>
                            <div class="cl-737373 t-11 d-flex align-items-center">
                                <img src="../images/icon-clock.png" alt=""
                                     class="mr-1"><span>10/07/2019 09:43</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                chuỗi bất bại dài nhất thế giới</a></h3>
                            <div class="cl-737373 t-11 d-flex align-items-center">
                                <img src="../images/icon-clock.png" alt=""
                                     class="mr-1"><span>10/07/2019 09:43</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                chuỗi bất bại dài nhất thế giới</a></h3>
                            <div class="cl-737373 t-11 d-flex align-items-center">
                                <img src="../images/icon-clock.png" alt=""
                                     class="mr-1"><span>10/07/2019 09:43</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                chuỗi bất bại dài nhất thế giới</a></h3>
                            <div class="cl-737373 t-11 d-flex align-items-center">
                                <img src="../images/icon-clock.png" alt=""
                                     class="mr-1"><span>10/07/2019 09:43</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <a href="" class="p-1 mb-30 d-inline-block"><img src="../images/qc-mb.png" alt=""></a>
</div>