<section class="top-content t-12 mb-15 mt-10">
    <div class="container d-flex align-item-center justify-content-between">
        <div class="left">
            <span class="d-inline-block mr-3 f-roboto-b">Thứ năm, 4/7/2019, 10:09(GMT+7)</span>
            <div class="d-flex align-items-center news-update">
                <span class="text-uppercase f-roboto-b label">Dòng sự kiện</span>
                <marquee direction="left" scrollamount="4">
                    <span class="content-marquee"><a href="" class="link_unstyle">Bộ Y tế yêu cầu báo cáo vụ mẹ con sản phụ tử vong (Mới cập nhật)</a></span>
                </marquee>
            </div>
        </div>
        <div class="d-flex align-items-center right">
            <div class="dropdown-weather mr-2">
                <div class="dropdown-toggle weather-current" type="button" id="weather" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    TP HÀ NỘI
                </div>
                <div class="dropdown-menu" aria-labelledby="weather">
                    <a class="dropdown-item" href="#">TP HCM</a>
                    <a class="dropdown-item" href="#">Hải Phòng</a>
                    <a class="dropdown-item" href="#">Lai Châu</a>
                </div>
            </div>
            <div class="d-flex align-items-end mr-2"><img src="../images/icon-weather.png" alt="" class="mr-1"><span
                    class="f-roboto-b">22-27°C</span></div>
            <div class="socical">
                <img src="../images/socical.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="article-main mb-20">
    <div class="container">
        <div class="row gutter-15">
            <div class="col-md-9">
                <div class="row gutter-10 mb-30">
                    <div class="col-md-8">
                        <div class="article-main_big">
                            <a href="" class="d-block mb-2"><img src="../images/article-home-main.png" alt=""
                                                                 class="w-100"></a>
                            <h3 class="f-roboto-b t-20 mb-10"><a href="" class="link_unstyle">Phó Thủ tướng Vũ Đức Đam:
                                “Phải an toàn, an tâm mới cho học sinh đi học trở lại”</a></h3>
                            <div class="sapo">
                                Sáng nay (14/2, tại cuộc họp trực tuyến của Ban chỉ đạo Quốc gia phòng chống dịch
                                Covid-19 (nCoV) với các Bộ, ngành, địa phương, Phó Thủ tướng Vũ Đức Đam, Trưởng Ban Chỉ
                                đạo.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="nav nav-tab_article" role="tablist">
                            <li>
                                <a class="active f-roboto-b text-uppercase d-block" data-toggle="tab" href="#tieu_diem">Tiêu
                                    điểm</a>
                            </li>
                            <li>
                                <a class="f-roboto-b text-uppercase d-block" data-toggle="tab" href="#doc_nhieu">Đọc
                                    nhiều</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="tieu_diem" class="tab-pane active">
                                <ul class="list-post-global list-post">
                                    <li class="mb-10"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ 80
                                        tuổi 'hối hận vì đẻ 4 con trai' 427</a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Bi kịch cuối đời của con gái ông
                                        chủ đế chế khách sạn Hilton 30 <i class="fa fa-camera cl-999999"
                                                                          aria-hidden="true"></i></a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Người mẹ hóa xinh đẹp sau 26 năm
                                        bị chê 'xấu xúc phạm người nhìn' <i class="fa fa-video-camera cl-999999"
                                                                            aria-hidden="true"></i></a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ 80
                                        tuổi 'hối hận vì đẻ 4 con trai' 427</a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Bi kịch cuối đời của con gái ông
                                        chủ đế chế khách sạn Hilton 30 <i class="fa fa-camera cl-999999"
                                                                          aria-hidden="true"></i></a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Người mẹ hóa xinh đẹp sau 26 năm
                                        bị chê 'xấu xúc phạm người nhìn' <i class="fa fa-video-camera cl-999999"
                                                                            aria-hidden="true"></i></a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ 80
                                        tuổi 'hối hận vì đẻ 4 con trai' 427</a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Bi kịch cuối đời của con gái ông
                                        chủ đế chế khách sạn Hilton 30 <i class="fa fa-camera cl-999999"
                                                                          aria-hidden="true"></i></a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Người mẹ hóa xinh đẹp sau 26 năm
                                        bị chê 'xấu xúc phạm người nhìn' <i class="fa fa-video-camera cl-999999"
                                                                            aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div id="doc_nhieu" class="tab-pane fade">
                                <ul class="list-post-global list-post">
                                    <li class="mb-10"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ 80
                                        tuổi 'hối hận vì đẻ 4 con trai' 427</a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Bi kịch cuối đời của con gái ông
                                        chủ đế chế khách sạn Hilton 30 <i class="fa fa-camera cl-999999"
                                                                          aria-hidden="true"></i></a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Người mẹ hóa xinh đẹp sau 26 năm
                                        bị chê 'xấu xúc phạm người nhìn' <i class="fa fa-video-camera cl-999999"
                                                                            aria-hidden="true"></i></a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ 80
                                        tuổi 'hối hận vì đẻ 4 con trai' 427</a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Bi kịch cuối đời của con gái ông
                                        chủ đế chế khách sạn Hilton 30 <i class="fa fa-camera cl-999999"
                                                                          aria-hidden="true"></i></a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Người mẹ hóa xinh đẹp sau 26 năm
                                        bị chê 'xấu xúc phạm người nhìn' <i class="fa fa-video-camera cl-999999"
                                                                            aria-hidden="true"></i></a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ 80
                                        tuổi 'hối hận vì đẻ 4 con trai' 427</a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Bi kịch cuối đời của con gái ông
                                        chủ đế chế khách sạn Hilton 30 <i class="fa fa-camera cl-999999"
                                                                          aria-hidden="true"></i></a></li>
                                    <li class="mb-10"><a href="" class="link_unstyle">Người mẹ hóa xinh đẹp sau 26 năm
                                        bị chê 'xấu xúc phạm người nhìn' <i class="fa fa-video-camera cl-999999"
                                                                            aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutter-10 range-20">
                    <div class="col-md mb-10">
                        <a class="d-block mb-10"><img src="../images/article_thumb_1.png" alt="" class="w-100"></a>
                        <h3 class="f-roboto-b t-14"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc
                            nghiệm THPT quốc gia 2019</a></h3>
                    </div>
                    <div class="col-md mb-10">
                        <a class="d-block mb-10"><img src="../images/article_thumb_2.png" alt="" class="w-100"></a>
                        <h3 class="f-roboto-b t-14"><a href="" class="link_unstyle">Hiểm họa cây mai dương</a></h3>
                    </div>
                    <div class="col-md mb-10">
                        <a class="d-block mb-10"><img src="../images/article_thumb_3.png" alt="" class="w-100"></a>
                        <h3 class="f-roboto-b t-14"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc
                            nghiệm THPT quốc gia 2019</a></h3>
                    </div>
                    <div class="col-md mb-10">
                        <a class="d-block mb-10"><img src="../images/article_thumb_4.png" alt="" class="w-100"></a>
                        <h3 class="f-roboto-b t-14"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc
                            nghiệm THPT quốc gia 2019</a></h3>
                    </div>
                    <div class="col-md mb-10">
                        <a class="d-block mb-10"><img src="../images/article_thumb_5.png" alt="" class="w-100"></a>
                        <h3 class="f-roboto-b t-14"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc
                            nghiệm THPT quốc gia 2019</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <a class="d-inline-block p-1 border mb-2"><img src="../images/qc_home_top_1.png" alt="" class="w-100"></a>
                <a class="d-inline-block p-1 border mb-2"><img src="../images/qc_home_top_2.png" alt="" class="w-100"></a>
            </div>
        </div>
    </div>
</section>
<section class="video-home mb-15">
    <div class="container">
        <div class="video-home_inner">
            <div class="video-home_title">
                <h2 class="f-roboto-b t-14 d-inline-flex align-items-center">
                    <img src="../images/icon-video.png" alt="" class="d-inline-block mr-2">Video
                </h2>
                <div class="nav-video-home">
                    <button class="btn-nav-video btn-nav-video-left btn-nav_home-video-left"></button>
                    <button class="btn-nav-video btn-nav-video-right btn-nav_home-video-right"></button>
                </div>
            </div>
            <div class="owl-carousel js-video-home-slider">
                <div class="item-video">
                    <a href="" class="d-block mb-10 position-relative">
                        <img src="../images/article_thumb_1.png" alt="">
                        <img alt="" src="../images/icon-video_2.png" class="icon-video">
                    </a>
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc nghiệm
                        THPT quốc gia 2019 <i class="fa fa-video-camera cl-999999" aria-hidden="true"></i></a></h3>
                </div>
                <div class="item-video">
                    <a href="" class="d-block mb-10 position-relative">
                        <img src="../images/article_thumb_1.png" alt="">
                        <img alt="" src="../images/icon-video_2.png" class="icon-video">
                    </a>
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc nghiệm
                        THPT quốc gia 2019 <i class="fa fa-video-camera cl-999999" aria-hidden="true"></i></a></h3>
                </div>
                <div class="item-video">
                    <a href="" class="d-block mb-10 position-relative">
                        <img src="../images/article_thumb_1.png" alt="">
                        <img alt="" src="../images/icon-video_2.png" class="icon-video">
                    </a>
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc nghiệm
                        THPT quốc gia 2019 <i class="fa fa-video-camera cl-999999" aria-hidden="true"></i></a></h3>
                </div>
                <div class="item-video">
                    <a href="" class="d-block mb-10 position-relative">
                        <img src="../images/article_thumb_1.png" alt="">
                        <img alt="" src="../images/icon-video_2.png" class="icon-video">
                    </a>
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc nghiệm
                        THPT quốc gia 2019 <i class="fa fa-video-camera cl-999999" aria-hidden="true"></i></a></h3>
                </div>
                <div class="item-video">
                    <a href="" class="d-block mb-10 position-relative">
                        <img src="../images/article_thumb_1.png" alt="">
                        <img alt="" src="../images/icon-video_2.png" class="icon-video">
                    </a>
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc nghiệm
                        THPT quốc gia 2019 <i class="fa fa-video-camera cl-999999" aria-hidden="true"></i></a></h3>
                </div>
                <div class="item-video">
                    <a href="" class="d-block mb-10 position-relative">
                        <img src="../images/article_thumb_1.png" alt="">
                        <img alt="" src="../images/icon-video_2.png" class="icon-video">
                    </a>
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc nghiệm
                        THPT quốc gia 2019 <i class="fa fa-video-camera cl-999999" aria-hidden="true"></i></a></h3>
                </div>
                <div class="item-video">
                    <a href="" class="d-block mb-10 position-relative">
                        <img src="../images/article_thumb_1.png" alt="">
                        <img alt="" src="../images/icon-video_2.png" class="icon-video">
                    </a>
                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Hà Nội hoàn thành chấm thi trắc nghiệm
                        THPT quốc gia 2019 <i class="fa fa-video-camera cl-999999" aria-hidden="true"></i></a></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-cat-article mb-30">
    <div class="container">
        <div class="section-cat-article_inner">
            <div class="row gutter-10">
                <div class="col-md-4">
                    <div class="left">
                        <ul class="list-article mb-15">
                            <li>
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Công điện ứng phó khẩn cấp
                                    áp
                                    thấp
                                    nhiệt đới</a></h3>
                                <div class="media">
                                    <a href=""><img class="mr-3" src="../images/article_thumb_1.png" alt=""></a>
                                    <div class="media-body">
                                        <div class="cl-7f7f7f mb-10">12/06/2019, 06:20 (GMT+7)</div>
                                        <div class="des max-line max-line-3 mb-1">Tại kỳ họp thứ 3 của Quốc hội khóa XIV
                                            này,
                                            khi bàn về
                                            dự thảo Luật Tố cáo (sửa đổi), có một số ý kiến đề
                                        </div>
                                        <a href="" class="name-cat">thời sự</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Công điện ứng phó khẩn cấp
                                    áp
                                    thấp
                                    nhiệt đới</a></h3>
                                <div class="media">
                                    <a href=""><img class="mr-3" src="../images/article_thumb_1.png" alt=""></a>
                                    <div class="media-body">
                                        <div class="cl-7f7f7f mb-10">12/06/2019, 06:20 (GMT+7)</div>
                                        <div class="des max-line max-line-3 mb-1">Tại kỳ họp thứ 3 của Quốc hội khóa XIV
                                            này,
                                            khi bàn về
                                            dự thảo Luật Tố cáo (sửa đổi), có một số ý kiến đề
                                        </div>
                                        <a href="" class="name-cat">thời sự</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Công điện ứng phó khẩn cấp
                                    áp
                                    thấp
                                    nhiệt đới</a></h3>
                                <div class="media">
                                    <a href=""><img class="mr-3" src="../images/article_thumb_1.png" alt=""></a>
                                    <div class="media-body">
                                        <div class="cl-7f7f7f mb-10">12/06/2019, 06:20 (GMT+7)</div>
                                        <div class="des max-line max-line-3 mb-1">Tại kỳ họp thứ 3 của Quốc hội khóa XIV
                                            này,
                                            khi bàn về
                                            dự thảo Luật Tố cáo (sửa đổi), có một số ý kiến đề
                                        </div>
                                        <a href="" class="name-cat">thời sự</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Công điện ứng phó khẩn cấp
                                    áp
                                    thấp
                                    nhiệt đới</a></h3>
                                <div class="media">
                                    <a href=""><img class="mr-3" src="../images/article_thumb_1.png" alt=""></a>
                                    <div class="media-body">
                                        <div class="cl-7f7f7f mb-10">12/06/2019, 06:20 (GMT+7)</div>
                                        <div class="des max-line max-line-3 mb-1">Tại kỳ họp thứ 3 của Quốc hội khóa XIV
                                            này,
                                            khi bàn về
                                            dự thảo Luật Tố cáo (sửa đổi), có một số ý kiến đề
                                        </div>
                                        <a href="" class="name-cat">thời sự</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Công điện ứng phó khẩn cấp
                                    áp
                                    thấp
                                    nhiệt đới</a></h3>
                                <div class="media">
                                    <a href=""><img class="mr-3" src="../images/article_thumb_1.png" alt=""></a>
                                    <div class="media-body">
                                        <div class="cl-7f7f7f mb-10">12/06/2019, 06:20 (GMT+7)</div>
                                        <div class="des max-line max-line-3 mb-1">Tại kỳ họp thứ 3 của Quốc hội khóa XIV
                                            này,
                                            khi bàn về
                                            dự thảo Luật Tố cáo (sửa đổi), có một số ý kiến đề
                                        </div>
                                        <a href="" class="name-cat">thời sự</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Công điện ứng phó khẩn cấp
                                    áp
                                    thấp
                                    nhiệt đới</a></h3>
                                <div class="media">
                                    <a href=""><img class="mr-3" src="../images/article_thumb_1.png" alt=""></a>
                                    <div class="media-body">
                                        <div class="cl-7f7f7f mb-10">12/06/2019, 06:20 (GMT+7)</div>
                                        <div class="des max-line max-line-3 mb-1">Tại kỳ họp thứ 3 của Quốc hội khóa XIV
                                            này,
                                            khi bàn về
                                            dự thảo Luật Tố cáo (sửa đổi), có một số ý kiến đề
                                        </div>
                                        <a href="" class="name-cat">thời sự</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Công điện ứng phó khẩn cấp
                                    áp
                                    thấp
                                    nhiệt đới</a></h3>
                                <div class="media">
                                    <a href=""><img class="mr-3" src="../images/article_thumb_1.png" alt=""></a>
                                    <div class="media-body">
                                        <div class="cl-7f7f7f mb-10">12/06/2019, 06:20 (GMT+7)</div>
                                        <div class="des max-line max-line-3 mb-1">Tại kỳ họp thứ 3 của Quốc hội khóa XIV
                                            này,
                                            khi bàn về
                                            dự thảo Luật Tố cáo (sửa đổi), có một số ý kiến đề
                                        </div>
                                        <a href="" class="name-cat">thời sự</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="box-article-cat mb-15">
                            <div class="box-article-cat_head mb-15">
                                <h2 class="f-roboto-b t-20 title">Kinh tế</h2>
                                <ul class="cat-child">
                                    <li><a href="">tin tức</a></li>
                                    <li><a href="">Doanh nghiệp</a></li>
                                    <li><a href="">Làm giàu</a></li>
                                </ul>
                            </div>
                            <div class="box-article-cat_content">
                                <div class="row gutter-10 mb-6">
                                    <div class="col-md-6">
                                        <a href="" class="d-block mb-10"><img src="../images/article_thumb_1.png" alt=""
                                                                              class="w-100"></a>
                                        <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Bắt 3 đối tượng vận
                                            chuyển thuê ma túy từ Campuchia về Việt Nam</a></h3>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="" class="d-block mb-10"><img src="../images/article_thumb_1.png" alt=""
                                                                              class="w-100"></a>
                                        <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Bắt 3 đối tượng vận
                                            chuyển thuê ma túy từ Campuchia về Việt Nam</a></h3>
                                    </div>
                                </div>
                                <ul class="list-post-global pt-10 mb-15 border-top-e4e4e5">
                                    <li><a href="" class="link_unstyle f-roboto-b">Hải Phòng: Nam thanh niên phóng xe bạt
                                        mạng, đâm trực</a></li>
                                    <li><a href="" class="link_unstyle f-roboto-b">Thẻ vàng EC và định hướng phát triển thủy
                                        sản Việt Nam</a></li>
                                    <li><a href="" class="link_unstyle f-roboto-b">Mùa đông lại kéo dài như hiện nay</a>
                                    </li>
                                    <li><a href="" class="link_unstyle f-roboto-b">Thẻ vàng EC và định hướng phát triển thủy
                                        sản Việt Nam</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-article-cat mb-15">
                            <div class="box-article-cat_head mb-15">
                                <h2 class="f-roboto-b t-20 title">Văn hóa</h2>
                                <ul class="cat-child">
                                    <li><a href="">Lễ hội</a></li>
                                    <li><a href="">Giải trí</a></li>
                                </ul>
                            </div>
                            <div class="box-article-cat_content">
                                <div class="media mb-10">
                                    <a href=""><img class="mr-3" src="../images/article_thumb_1.png" alt=""></a>
                                    <div class="media-body">
                                        <h3 class="t-14 f-roboto-b mb-6"><a href="" class="link_unstyle">7 lễ hội truyền
                                            thống dân tộc thiểu sổ được phục dựng, bảo tồn trong năm 2020</a></h3>
                                        <a href="" class="name-cat">lễ hội</a>
                                    </div>
                                </div>
                                <div class="border-top-e4e4e5 pt-10">
                                    <div class="row gutter-10">
                                        <div class="col-md-9 border-right-e4e4e5">
                                            <div class="media">
                                                <a href=""><img class="mr-10" src="../images/article_thumb_1.png"
                                                                alt=""></a>
                                                <div class="media-body">
                                                    <h3 class="t-14 f-roboto-b mb-6"><a href="" class="link_unstyle">Về nhà
                                                        đi con - Tập 53: Vũ phải lòng nhã, sỉ nhục Thư thậm tệ <i
                                                                class="fa fa-camera cl-999999" aria-hidden="true"></i></a>
                                                    </h3>
                                                    <a href="" class="d-block name-cat">thể thao</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <ul class="list-post-global mb-15">
                                                <li class="mb-6"><a href="" class="link_unstyle f-roboto-b">Trồng hoa mẫu
                                                    đơn thu nhập gấp 5</a></li>
                                                <li class="mb-6"><a href="" class="link_unstyle f-roboto-b">Trồng hoa mẫu
                                                    đơn thu nhập gấp 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-article-cat mb-15">
                            <div class="box-article-cat_head mb-15">
                                <h2 class="f-roboto-b t-20 title">Tiêu dùng</h2>
                                <ul class="cat-child">
                                    <li><a href="">sống khỏe</a></li>
                                    <li><a href="">an toàn thực phẩm</a></li>
                                </ul>
                            </div>
                            <div class="box-article-cat_content">
                                <div class="row gutter-10 mb-6">
                                    <div class="col-md-6">
                                        <a href="" class="d-block mb-10"><img src="../images/article_thumb_1.png" alt=""
                                                                              class="w-100"></a>
                                        <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Bắt 3 đối tượng vận
                                            chuyển thuê ma túy từ Campuchia về Việt Nam</a></h3>
                                    </div>
                                    <div class="col-md-6">
                                        <a href="" class="d-block mb-10"><img src="../images/article_thumb_1.png" alt=""
                                                                              class="w-100"></a>
                                        <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Bắt 3 đối tượng vận
                                            chuyển thuê ma túy từ Campuchia về Việt Nam</a></h3>
                                    </div>
                                </div>
                                <ul class="list-post-global pt-10 mb-15 border-top-e4e4e5">
                                    <li><a href="" class="link_unstyle f-roboto-b">Hải Phòng: Nam thanh niên phóng xe bạt
                                        mạng, đâm trực</a></li>
                                    <li><a href="" class="link_unstyle f-roboto-b">Thẻ vàng EC và định hướng phát triển thủy
                                        sản Việt Nam</a></li>
                                    <li><a href="" class="link_unstyle f-roboto-b">Mùa đông lại kéo dài như hiện nay</a>
                                    </li>
                                    <li><a href="" class="link_unstyle f-roboto-b">Thẻ vàng EC và định hướng phát triển thủy
                                        sản Việt Nam</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-article-cat mb-15">
                            <div class="box-article-cat_head mb-15">
                                <h2 class="f-roboto-b t-20 title">Liên kết</h2>
                            </div>
                            <div class="box-article-cat_content">
                                <div class="media">
                                    <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                    alt=""></a>
                                    <div class="media-body">
                                        <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle"> The playful art
                                            of folding coconut leaves in Hanoi</a></h3>
                                        <ul class="list-post-global">
                                            <li><a href="" class="link_unstyle f-roboto-b">Hải Phòng: Nam thanh niên phóng
                                                xe bạt mạng, đâm trực</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Thẻ vàng EC và định hướng phát
                                                triển thủy sản Việt Nam</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Mùa đông lại kéo dài như hiện
                                                nay</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Thẻ vàng EC và định hướng phát
                                                triển thủy sản Việt Nam</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="box-article-cat mb-15">
                        <div class="box-article-cat_head mb-15">
                            <h2 class="f-roboto-b t-20 title">Thời sự</h2>
                            <ul class="cat-child">
                                <li><a href="">tin tức</a></li>
                                <li><a href="">làm theo tấm gương bác</a></li>
                                <li><a href="">quốc hội</a></li>
                            </ul>
                        </div>
                        <div class="box-article-cat_content">
                            <div class="media">
                                <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                alt=""></a>
                                <div class="media-body">
                                    <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hành động lấn chiếm
                                        biển của Trung Quốc đe dọa khu vực</a></h3>
                                    <div class="des max-line max-line-4">
                                        Ban Chỉ đạo Trung ương về phòng chống thiên tai (PCTT) - Uỷ ban Quốc gia ứng phó sự
                                        cố, thiên tai và Tìm kiếm cứu nạn (TKCN) v
                                    </div>
                                </div>
                            </div>
                            <div class="pt-10 mb-15 border-top-e4e4e5">
                                <div class="row gutter-10">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <a href="" class="d-block"><img class="mr-10"
                                                                            src="../images/article_thumb_1.png"
                                                                            alt=""></a>
                                            <div class="media-body">
                                                <h3 class="t-14 f-roboto-b mb-10">
                                                    <a href="" class="link_unstyle">Những hình ảnh xấu của CSGT trong con
                                                        mắt người dân <i class="fa fa-camera cl-999999"
                                                                         aria-hidden="true"></i></a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-post-global">
                                            <li><a href="" class="link_unstyle f-roboto-b">Hải Phòng: Nam thanh niên phóng
                                                xe bạt
                                                mạng, đâm trực</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Thẻ vàng EC và định hướng phát
                                                triển thủy
                                                sản Việt Nam</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Mùa đông lại kéo dài như hiện
                                                nay</a>
                                            </li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Thẻ vàng EC và định hướng phát
                                                triển thủy
                                                sản Việt Nam</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-article-cat mb-15">
                        <div class="box-article-cat_head mb-15">
                            <h2 class="f-roboto-b t-20 title">Kinh tế</h2>
                            <ul class="cat-child">
                                <li><a href="">tiêu điểm</a></li>
                                <li><a href="">bạn đọc quan tâm</a></li>
                            </ul>
                        </div>
                        <div class="box-article-cat_content">
                            <div class="row gutter-10 mb-15">
                                <div class="col-md-6">
                                    <div class="media">
                                        <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                        alt=""></a>
                                        <div class="media-body">
                                            <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Big C Việt Nam
                                                lên tiếng trước phản ứng gay gắt của các nhà cung cấp</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                        alt=""></a>
                                        <div class="media-body">
                                            <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Chuỗi cá ngừ
                                                còn điểm nghẽn <i class="fa fa-camera cl-999999" aria-hidden="true"></i> <i
                                                        class="fa fa-video-camera cl-999999" aria-hidden="true"></i></a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gutter-10 mb-15">
                                <div class="col-md-6">
                                    <div class="media">
                                        <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                        alt=""></a>
                                        <div class="media-body">
                                            <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Trái cây vụ hè
                                                2019: Thương lái tranh nhau 'săn' hàng <i class="fa fa-camera cl-999999"
                                                                                          aria-hidden="true"></i></a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-post-global">
                                        <li><a href="" class="link_unstyle f-roboto-b">Trồng hoa mẫu đơn thu nhập gấp 5</a>
                                        </li>
                                        <li><a href="" class="link_unstyle f-roboto-b">Tuyển thủ U20 Việt Nam có thể đá</a>
                                        </li>
                                        <li><a href="" class="link_unstyle f-roboto-b">Mùa đông lại kéo dài như hiện nay</a>
                                        </li>
                                        <li><a href="" class="link_unstyle f-roboto-b">Tuyển thủ U20 Việt Nam có thể đá</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-article-cat mb-15">
                        <div class="box-article-cat_head mb-15">
                            <h2 class="f-roboto-b t-20 title">Nông nghiệp Nông thôn</h2>
                            <ul class="cat-child">
                                <li><a href="">Sổ tay</a></li>
                                <li><a href="">Nông nghiệp cnc</a></li>
                            </ul>
                        </div>
                        <div class="box-article-cat_content">
                            <div class="media">
                                <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                alt=""></a>
                                <div class="media-body">
                                    <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Lão nông chế tạo xe
                                        cắt sạch cỏ trong chớp nhoáng</a></h3>
                                    <div class="des max-line max-line-6">
                                        Vừa gọn, nhẹ dễ di chuyển vừa rút ngắn thời gian và công sức lao động, đó là tính ưu
                                        việt của nông cụ do ông Phạm Văn Đậm ở xã Thạnh Mỹ Tây, huyện Châu Phú, tỉnh An
                                        Giang vừa sáng kiến giúp nhà vườn
                                    </div>
                                </div>
                            </div>
                            <div class="pt-10 mb-15 border-top-e4e4e5">
                                <div class="row gutter-10 mb-15">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <a href="" class="d-block"><img class="mr-10"
                                                                            src="../images/article_thumb_1.png"
                                                                            alt=""></a>
                                            <div class="media-body">
                                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Dưa hấu
                                                    Phúc Ninh, mùa trước cạn <i class="fa fa-camera-video cl-999999"
                                                                                aria-hidden="true"></i></a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-post-global">
                                            <li><a href="" class="link_unstyle f-roboto-b">Trồng hoa mẫu đơn thu nhập gấp
                                                5</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Tuyển thủ U20 Việt Nam có thể
                                                đá</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Mùa đông lại kéo dài như hiện
                                                nay</a>
                                            </li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Tuyển thủ U20 Việt Nam có thể
                                                đá</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-10 gutter-10">
                        <div class="col-md-9">
                            <div class="pt-15">
                                <a href="" class="d-block"><img src="../images/bn2.png" alt="" class="w-100"></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h2 class="t-14 cl-00baff">Tin tài trợ</h2>
                            <div class="border-top-e4e4e5 pt-10">
                                <div class="mb-15">
                                    <a href="" class="d-block mb-1"><img src="../images/article_thumb_1.png"
                                                                         alt=""></a>
                                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Danh sách các nha tuyển
                                        dụng</a></h3>
                                </div>
                                <div class="mb-15">
                                    <a href="" class="d-block mb-1"><img src="../images/article_thumb_1.png"
                                                                         alt=""></a>
                                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Cơ hội chữa ung thư gan, dạ
                                        dày, thực quản</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-article-cat mb-15">
                        <div class="box-article-cat_head mb-15">
                            <h2 class="f-roboto-b t-20 title">Nhịp sống</h2>
                            <ul class="cat-child">
                                <li><a href="">Nhịp sống thường nhật</a></li>
                                <li><a href="">Chùm ảnh</a></li>
                            </ul>
                        </div>
                        <div class="box-article-cat_content">
                            <div class="media">
                                <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                alt=""></a>
                                <div class="media-body">
                                    <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt
                                        100% số phiếu xét đạt chuẩn nông thôn mới đợt 2 <i class="fa fa-camera cl-999999"
                                                                                           aria-hidden="true"></i></a></h3>
                                    <div class="des max-line max-line-4">
                                        Theo kết quả bỏ phiếu, có 13 xã đạt 100% số phiếu đồng ý công nhận xã đạt chuẩn nông
                                        thôn mới (NTM) đợt 2 năm 2019.
                                    </div>
                                </div>
                            </div>
                            <div class="pt-10 mb-15 border-top-e4e4e5">
                                <div class="row gutter-10 mb-15">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <a href="" class="d-block"><img class="mr-10"
                                                                            src="../images/article_thumb_1.png"
                                                                            alt=""></a>
                                            <div class="media-body">
                                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Một điển
                                                    hình xây dựng nông thôn mới <i class="fa fa-camera-video cl-999999"
                                                                                   aria-hidden="true"></i></a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-post-global">
                                            <li><a href="" class="link_unstyle f-roboto-b">Trồng hoa mẫu đơn thu nhập gấp
                                                5</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Tuyển thủ U20 Việt Nam có thể
                                                đá</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Mùa đông lại kéo dài như hiện
                                                nay</a>
                                            </li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Tuyển thủ U20 Việt Nam có thể
                                                đá</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-article-cat mb-15">
                        <div class="box-article-cat_head mb-15">
                            <h2 class="f-roboto-b t-20 title">Tư vấn luật</h2>
                            <ul class="cat-child">
                                <li><a href="">Tin tức</a></li>
                                <li><a href="">văn bản mới</a></li>
                                <li><a href="">tư vấn</a></li>
                            </ul>
                        </div>
                        <div class="box-article-cat_content">
                            <div class="media">
                                <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                alt=""></a>
                                <div class="media-body">
                                    <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hà nội: Phạt 4 triệu
                                        đồng chủ xưởng sản xuất biến ô tô, xa máy giả</a></h3>
                                    <div class="des max-line max-line-4">
                                        Ngày 13/2, Đội Cảnh sát kinh tế, Công an quận Hoàn Kiếm cho biết, đã ban hành quyết
                                        định phạt 4 triệu đồng đối với ông Đào Gia Tiến (phường Phương Mai, quận Đống
                                    </div>
                                </div>
                            </div>
                            <div class="pt-10 mb-15 border-top-e4e4e5">
                                <div class="row gutter-10 mb-15">
                                    <div class="col-md-6">
                                        <div class="media">
                                            <a href="" class="d-block"><img class="mr-10"
                                                                            src="../images/article_thumb_1.png"
                                                                            alt=""></a>
                                            <div class="media-body">
                                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Ăn một bắp
                                                    ngô luộc mỗi sáng, điều kỳ diệu sẽ xảy ra <i
                                                            class="fa fa-camera-video cl-999999" aria-hidden="true"></i></a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-post-global">
                                            <li><a href="" class="link_unstyle f-roboto-b">Trồng hoa mẫu đơn thu nhập gấp
                                                5</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Tuyển thủ U20 Việt Nam có thể
                                                đá</a></li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Mùa đông lại kéo dài như hiện
                                                nay</a>
                                            </li>
                                            <li><a href="" class="link_unstyle f-roboto-b">Tuyển thủ U20 Việt Nam có thể
                                                đá</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-article-cat mb-15">
                        <div class="box-article-cat_head mb-15">
                            <h2 class="f-roboto-b t-20 title">Chính sách mới</h2>
                            <ul class="cat-child">
                                <li><a href="">Điểm nóng</a></li>
                                <li><a href="">bí ẩn</a></li>
                                <li><a href="">vũ khí</a></li>
                                <li><a href="">hồ sơ</a></li>
                            </ul>
                        </div>
                        <div class="box-article-cat_content">
                            <div class="row gutter-10 mb-15">
                                <div class="col-md-6">
                                    <div class="media">
                                        <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                        alt=""></a>
                                        <div class="media-body">
                                            <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Chính sách
                                                "một thú cưng" ở Thượng Hải <i class="fa fa-video-camera cl-999999"
                                                                               aria-hidden="true"></i></a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                        alt=""></a>
                                        <div class="media-body">
                                            <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Người trung
                                                quốc ở viễn đông<i class="fa fa-video-camera cl-999999"
                                                                   aria-hidden="true"></i></a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row gutter-10 mb-15">
                                <div class="col-md-6">
                                    <div class="media">
                                        <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                                        alt=""></a>
                                        <div class="media-body">
                                            <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Trump-Kim nói
                                                với nhau những gì tại DMZ<i class="fa fa-camera cl-999999"
                                                                            aria-hidden="true"></i></a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-post-global">
                                        <li><a href="" class="link_unstyle f-roboto-b">Trồng hoa mẫu đơn thu nhập gấp 5</a>
                                        </li>
                                        <li><a href="" class="link_unstyle f-roboto-b">Tuyển thủ U20 Việt Nam có thể đá</a>
                                        </li>
                                        <li><a href="" class="link_unstyle f-roboto-b">Mùa đông lại kéo dài như hiện nay</a>
                                        </li>
                                        <li><a href="" class="link_unstyle f-roboto-b">Tuyển thủ U20 Việt Nam có thể đá</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-10 gutter-10">
                        <div class="col-md-9">
                            <div class="pt-15">
                                <a href="" class="d-block"><img src="../images/bn2.png" alt="" class="w-100"></a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h2 class="t-14 cl-00baff">Tin tài trợ</h2>
                            <div class="border-top-e4e4e5 pt-10">
                                <div class="mb-15">
                                    <a href="" class="d-block mb-1"><img src="../images/article_thumb_1.png"
                                                                         alt=""></a>
                                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Danh sách các nha tuyển
                                        dụng</a></h3>
                                </div>
                                <div class="mb-15">
                                    <a href="" class="d-block mb-1"><img src="../images/article_thumb_1.png"
                                                                         alt=""></a>
                                    <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Cơ hội chữa ung thư gan, dạ
                                        dày, thực quản</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-10 bg-e1e1e1 mb-30">
                        <div class="slide-articles mb-6 bg-fff">
                            <div class="bg-e1e1e1"><h2 class="f-roboto-b t-14 title">Tạp chí in</h2></div>
                            <div class="js-slide-articles-slider owl-carousel mb-6">
                                <div class="item">
                                    <div class="mb-10">
                                        <a href="" class="d-block mb-15"><img class="w-100"
                                                                              src="../images/article_thumb_1.png"
                                                                              alt=""></a>
                                        <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Số tháng 12/2019 - Tạp
                                            chí Doanh nghiệp & Thương hiệu</a></h3>
                                    </div>
                                    <div class="mb-10">
                                        <a href="" class="d-block mb-15"><img class="w-100"
                                                                              src="../images/article_thumb_1.png"
                                                                              alt=""></a>
                                        <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Số tháng 12/2019 - Tạp
                                            chí Doanh nghiệp & Thương hiệu</a></h3>
                                    </div>
                                    <div class="mb-10">
                                        <a href="" class="d-block mb-15"><img class="w-100"
                                                                              src="../images/article_thumb_1.png"
                                                                              alt=""></a>
                                        <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Số tháng 12/2019 - Tạp
                                            chí Doanh nghiệp & Thương hiệu</a></h3>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="mb-10">
                                        <a href="" class="d-block mb-15"><img class="w-100"
                                                                              src="../images/article_thumb_1.png"
                                                                              alt=""></a>
                                        <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Số tháng 12/2019 - Tạp
                                            chí Doanh nghiệp & Thương hiệu</a></h3>
                                    </div>
                                    <div class="mb-10">
                                        <a href="" class="d-block mb-15"><img class="w-100"
                                                                              src="../images/article_thumb_1.png"
                                                                              alt=""></a>
                                        <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Số tháng 12/2019 - Tạp
                                            chí Doanh nghiệp & Thương hiệu</a></h3>
                                    </div>
                                    <div class="mb-10">
                                        <a href="" class="d-block mb-15"><img class="w-100"
                                                                              src="../images/article_thumb_1.png"
                                                                              alt=""></a>
                                        <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Số tháng 12/2019 - Tạp
                                            chí Doanh nghiệp & Thương hiệu</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mb-6">
                            <button class="btn-nav-video btn-nav-video-left btn-nav-slide-articles-left"></button>
                            <button class="btn-nav-video btn-nav-video-right btn-nav-slide-articles-right"></button>
                        </div>
                        <div class="feedback bg-fff">
                            <h2 class="t-20 f-roboto-b feedback_title">Ý kiến bạn đọc</h2>
                            <ul class="list-post">
                                <li>
                                    <h3 class="f-roboto-b t-15 mb-6"><a href="" class="link_unstyle">Bắt 3 đối tượng vận
                                        chuyển thuê ma túy từ Campuchia về Việt Nam</a></h3>
                                    <div class="max-line max-line-3">
                                        "Thu phí dịch vụ thẻ ATM quá dễ dãi" của Quốc Dũng, tôi nhất trí những ý kiến của
                                        tác giả.
                                    </div>
                                </li>
                                <li>
                                    <h3 class="f-roboto-b t-15 mb-6"><a href="" class="link_unstyle">Bắt 3 đối tượng vận
                                        chuyển thuê ma túy từ Campuchia về Việt Nam</a></h3>
                                    <div class="max-line max-line-3">
                                        "Thu phí dịch vụ thẻ ATM quá dễ dãi" của Quốc Dũng, tôi nhất trí những ý kiến của
                                        tác giả.
                                    </div>
                                </li>
                                <li>
                                    <h3 class="f-roboto-b t-15 mb-6"><a href="" class="link_unstyle">Bắt 3 đối tượng vận
                                        chuyển thuê ma túy từ Campuchia về Việt Nam</a></h3>
                                    <div class="max-line max-line-3">
                                        "Thu phí dịch vụ thẻ ATM quá dễ dãi" của Quốc Dũng, tôi nhất trí những ý kiến của
                                        tác giả.
                                    </div>
                                </li>
                                <li>
                                    <h3 class="f-roboto-b t-15 mb-6"><a href="" class="link_unstyle">Bắt 3 đối tượng vận
                                        chuyển thuê ma túy từ Campuchia về Việt Nam</a></h3>
                                    <div class="max-line max-line-3">
                                        "Thu phí dịch vụ thẻ ATM quá dễ dãi" của Quốc Dũng, tôi nhất trí những ý kiến của
                                        tác giả.
                                    </div>
                                </li>
                                <li>
                                    <h3 class="f-roboto-b t-15 mb-6"><a href="" class="link_unstyle">Bắt 3 đối tượng vận
                                        chuyển thuê ma túy từ Campuchia về Việt Nam</a></h3>
                                    <div class="max-line max-line-3">
                                        "Thu phí dịch vụ thẻ ATM quá dễ dãi" của Quốc Dũng, tôi nhất trí những ý kiến của
                                        tác giả.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="articles-last bg-fff mb-15">
                        <h2 class="t-20 f-roboto-b articles-last_title">Tin mới nhất</h2>
                        <ul class="list-post-global list-post p-10">
                            <li>
                                <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ
                                    80 tuổi 'hối hận vì đẻ 4 con trai' 427 <i class="fa fa-camera cl-999999"
                                                                              aria-hidden="true"></i></a></h3>
                            </li>
                            <li>
                                <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ
                                    80 tuổi 'hối hận vì đẻ 4 con trai' 427 <i class="fa fa-camera cl-999999"
                                                                              aria-hidden="true"></i></a></h3>
                            </li>
                            <li>
                                <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ
                                    80 tuổi 'hối hận vì đẻ 4 con trai' 427 <i class="fa fa-camera cl-999999"
                                                                              aria-hidden="true"></i></a></h3>
                            </li>
                            <li>
                                <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ
                                    80 tuổi 'hối hận vì đẻ 4 con trai' 427 <i class="fa fa-camera cl-999999"
                                                                              aria-hidden="true"></i></a></h3>
                            </li>
                            <li>
                                <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Bức thư tuyệt mệnh của người mẹ
                                    80 tuổi 'hối hận vì đẻ 4 con trai' 427 <i class="fa fa-camera cl-999999"
                                                                              aria-hidden="true"></i></a></h3>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="d-inline-block p-1 border"><img src="../images/ad-home-right.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>