<section class="top-content t-12 mb-15 mt-10">
    <div class="container d-flex align-item-center justify-content-between">
        <div class="left">
            <span class="d-inline-block mr-3 f-roboto-b">Thứ năm, 4/7/2019, 10:09(GMT+7)</span>
            <div class="d-flex align-items-center news-update">
                <span class="text-uppercase f-roboto-b label">Dòng sự kiện</span>
                <marquee direction="left" scrollamount="4">
                    <span class="content-marquee"><a href="" class="link_unstyle">Bộ Y tế yêu cầu báo cáo vụ mẹ con sản phụ tử vong (Mới cập nhật)</a></span>
                </marquee>
            </div>
        </div>
        <div class="d-flex align-items-center right">
            <div class="dropdown-weather mr-2">
                <div class="dropdown-toggle weather-current" type="button" id="weather" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                    TP HÀ NỘI
                </div>
                <div class="dropdown-menu" aria-labelledby="weather">
                    <a class="dropdown-item" href="#">TP HCM</a>
                    <a class="dropdown-item" href="#">Hải Phòng</a>
                    <a class="dropdown-item" href="#">Lai Châu</a>
                </div>
            </div>
            <div class="d-flex align-items-end mr-2"><img src="../images/icon-weather.png" alt="" class="mr-1"><span
                    class="f-roboto-b">22-27°C</span></div>
            <div class="socical">
                <img src="../images/socical.png" alt="">
            </div>
        </div>
    </div>
</section>
<div class="container mb-15">
    <div class="row gutter-10">
        <div class="col-md-9">
            <div class="d-flex align-items-center mb-15 cat-post">
                <h2 class="t-20 d-line-block text-uppercase mr-30 f-roboto-b title">Kinh tế</h2>
                <div class="d-flex align-items-center cat-relate">
                    <img src="../images/icon-up.png" alt="" class="mr-2">
                    <a href="" class="t-12">Bất động sản nghỉ dưỡng</a>
                    <a href="" class="t-12">Bất động sản biển</a>
                    <a href="" class="t-12">Bất động sản</a>
                </div>
            </div>
            <h1 class="t-25 f-roboto-b cl-083f59 mb-10">Đón đầu xu hướng du lịch hạng sang - bất động sản Nam Phú Quốc
                'lên ngôi'</h1>
            <div class="d-flex align-items-center justify-content-between mb-15">
                <div class="info-author cl-737373">
                    <img src="../images/icon-user.png" alt="" class="mr-1"><span class="mr-2">Duy Phương</span>
                    <img src="../images/icon-clock.png" alt="" class="mr-1"><span>10/07/2019 09:43 GMT+7</span>
                </div>
                <ul class="d-flex align-items-center interactive">
                    <li>
                        <span class="wp-icon"><img src="../images/icon-like.png" alt=""></span><span>36</span>
                    </li>
                    <li>
                        <span class="wp-icon"><img src="../images/icon-fb.png" alt=""></span><span>36</span>
                    </li>
                    <li>
                        <span class="wp-icon"><img src="../images/icon-aaa.png" alt=""></span><span>36</span>
                    </li>
                    <li>
                        <span class="wp-icon"><img src="../images/icon-ms.png" alt=""></span><span>36</span>
                    </li>
                </ul>
            </div>
            <div class="des f-roboto-b">
                Nam Phú Quốc với tổ hợp giải trí, nghỉ dưỡng đẳng cấp không chỉ góp phần quan trọng thu hút 2,2 triệu
                lượt khách cùng doanh thu 3.829 tỷ đồng cho đảo Ngọc trong 6 tháng đầu năm mà còn đưa Phú Quốc thành
                điểm đến du lịch hạng sang trên bản đồ quốc tế.
            </div>
            <ul class="list-post-global list-post pb-10 mb-10 border-bottom">
                <li class="mt-10">
                    <h3 class="f-roboto-b t-15 cl-737373"><a href="" class="link_unstyle">Đầu tư bất động sản nghỉ dưỡng
                        cần lưu ý 7 điều sau</a></h3>
                </li>
                <li class="mt-10">
                    <h3 class="f-roboto-b t-15 cl-737373"><a href="" class="link_unstyle">Đầu tư bất động sản nghỉ dưỡng
                        cần lưu ý 7 điều sau</a></h3>
                </li>
            </ul>
            <div class="row gutter-10 mb-30">
                <div class="col-md-9">
                    <div class="content mb-20">
                        <p>Tổng thống Pháp Emmanuel Macron và phu nhân bất ngờ vì thấy thảm đỏ được trải sẵn nhưng không
                            có bóng dáng quan chức Argentina nào chờ sẵn và đón tiếp theo nghi thức thường thấy. Sau vài
                            giây nhìn xung quanh, Macron quyết định bắt tay với những nhân viên sân bay tại đó, RT đưa
                            tin.</p>
                        <p>Chỉ đến lúc Macron ra xe, Phó tổng thống Argentian Gabriela Michetti mới tới sân bay và nói
                            rằng nghi thức ngoại giao gây ra sự chậm trễ nói trên. "Chúng tôi phải chờ họ nói rằng 'đến
                            lúc rồi' để đi ra thảm đỏ đón tiếp Tổng thống Pháp và phu nhân. Về lý thuyết mọi việc đã
                            được lên lịch trình, nhưng khi họ nói 'đến lúc rồi' thì Tổng thống Pháp và phu nhân đã bước
                            ra xe", Michetti cho biết.</p>
                        <p>Nước chủ nhà Argentina áp dụng các nghi thức đón tiếp khác nhau với các lãnh đạo G20, tùy
                            theo yêu cầu của từng đoàn. Chủ tịch Trung Quốc Tập Cận Bình cùng phu nhân được tiếp đón
                            long trọng với đoàn quân nhạc, trong khi Tổng thống Mỹ Donald Trump được đón tiếp với nghi
                            thức đơn giản hơn và thảm đỏ không được sử dụng theo yêu cầu của mật vụ Mỹ. Các lãnh đạo
                            khác được một quan chức đại diện của Argentina đón tại sân bay và lên đường về khách sạn sau
                            đó.</p>
                        <p>Hội nghị thượng đỉnh G20 được tổ chức tại thủ đô Buenos Aires từ ngày 30/11 đến ngày 1/12,
                            với sự tham gia của lãnh đạo các nền kinh tế thành viên. Macron sẽ ở lại thủ </p>
                        <img src="../images/img-content-news.png" alt="" class="d-block text-center mb-10">
                        <p>Tổng thống Pháp Emmanuel Macron và phu nhân bất ngờ vì thấy thảm đỏ được trải sẵn nhưng không
                            có bóng dáng quan chức Argentina nào chờ sẵn và đón tiếp theo nghi thức thường thấy. Sau vài
                            giây nhìn xung quanh, Macron quyết định bắt tay với những nhân viên sân bay tại đó, RT đưa
                            tin.</p>
                        <p>Chỉ đến lúc Macron ra xe, Phó tổng thống Argentian Gabriela Michetti mới tới sân bay và nói
                            rằng nghi thức ngoại giao gây ra sự chậm trễ nói trên. "Chúng tôi phải chờ họ nói rằng 'đến
                            lúc rồi' để đi ra thảm đỏ đón tiếp Tổng thống Pháp và phu nhân. Về lý thuyết mọi việc đã
                            được lên lịch trình, nhưng khi họ nói 'đến lúc rồi' thì Tổng thống Pháp và phu nhân đã bước
                            ra xe", Michetti cho biết.</p>
                        <p>Nước chủ nhà Argentina áp dụng các nghi thức đón tiếp khác nhau với các lãnh đạo G20, tùy
                            theo yêu cầu của từng đoàn. Chủ tịch Trung Quốc Tập Cận Bình cùng phu nhân được tiếp đón
                            long trọng với đoàn quân nhạc, trong khi Tổng thống Mỹ Donald Trump được đón tiếp với nghi
                            thức đơn giản hơn và thảm đỏ không được sử dụng theo yêu cầu của mật vụ Mỹ. Các lãnh đạo
                            khác được một quan chức đại diện của Argentina đón tại sân bay và lên đường về khách sạn sau
                            đó.</p>
                        <p>Hội nghị thượng đỉnh G20 được tổ chức tại thủ đô Buenos Aires từ ngày 30/11 đến ngày 1/12,
                            với sự tham gia của lãnh đạo các nền kinh tế thành viên. Macron sẽ ở lại thủ đô Buenos Aires
                            trong bốn ngày để thảo luận về quan hệ kinh tế giữa Pháp và Argentina.</p>
                        <p>Hội nghị thượng đỉnh G20 được tổ chức tại thủ đô Buenos Aires từ ngày 30/11 đến ngày 1/12,
                            với sự tham gia của lãnh đạo các nền kinh tế thành viên. Macron sẽ ở lại thủ đô Buenos Aires
                            trong bốn ngày để thảo luận về quan hệ kinh tế giữa Pháp và Argentina.</p>
                    </div>
                    <div class="mb-15 wrap-articles-related">
                        <h2 class="f-roboto-b t-18 mb-15">Xem thêm về <a href="" class="cl-00baff">Tổng thống Pháp</a>
                        </h2>
                        <ul class="articles-related">
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Các học tiếng Anh cực kỳ
                                    hiệu quả mà rất thú vị chỉ với 10 phút ngắn</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">HĐND tỉnh Thanh Hóa Khóa
                                    XVII các đại biểu biểu quyết và đồng ý dừng phần chất vấn Giám đốc Sở TN-MT</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">HĐND tỉnh Thanh Hóa Khóa
                                    XVII các đại biểu biểu quyết và đồng ý dừng phần chất vấn Giám đốc Sở TN-MT</a></h3>
                            </li>
                        </ul>
                    </div>
                    <div class="text-right mb-20"><img src="../images/icon-penci.png" alt=""
                                                       class="d-inline-block mr-1"><span class="f-roboto-b">HoaLam/doanhnghiepthuonghieu.vn</span>
                    </div>
                    <div class="wrap-tags mb-15">
                        <img src="../images/icon-tag.png" alt="" class="d-inline-block mr-2"><span class="f-roboto-b">Từ khóa:</span>
                        <ul class="list-tag">
                            <li><a href="">tàu tuần tra</a></li>
                            <li><a href="">Don</a></li>
                            <li><a href="">Đâm húc</a></li>
                            <li><a href="">Truy đuổi</a></li>
                            <li><a href="">Tàu tuần tra</a></li>
                        </ul>
                    </div>
                    <div class="comment">
                        <div class="d-flex justify-content-between align-items-end mb-1">
                            <h2 class="f-roboto-b t-20">Bình luận</h2>
                            <ul class="d-flex align-items-center interactive">
                                <li>
                                    <span class="wp-icon"><img src="../images/icon-like.png"
                                                               alt=""></span><span>36</span>
                                </li>
                                <li>
                                    <span class="wp-icon"><img src="../images/icon-fb.png" alt=""></span><span>36</span>
                                </li>
                                <li>
                                    <span class="wp-icon"><img src="../images/icon-aaa.png"
                                                               alt=""></span><span>36</span>
                                </li>
                                <li>
                                    <span class="wp-icon"><img src="../images/icon-ms.png" alt=""></span><span>36</span>
                                </li>
                            </ul>
                        </div>
                        <form action="" class="comment_editor mb-10">
                            <textarea name="" class="form-control mb-10"></textarea>
                            <button class="btn_comment"><span class="mr-2">Gửi bình luận</span> <img
                                    src="../images/icon-arrow-right.png" alt=""></button>
                        </form>
                        <div class="wrap-list-comment">
                            <h2 class="t-14 cl-00baff f-roboto-b mb-15">Ý kiến bạn đọc</h2>
                            <ul class="list-comment">
                                <li class="mb-10">
                                    <div class="d-flex align-items-center justify-content-between mb-6">
                                        <div class="name-comment"><span class="f-roboto-b text-capitalize">Lộc Quảng Ninh</span>
                                            - 7h trước
                                        </div>
                                        <div class="feeling">
                                            <span class="feeling-icon feeling-icon_like mr-1"><i class="fa fa-thumbs-up"
                                                                                                 aria-hidden="true"></i></span>
                                            160
                                            <span class="feeling-icon feeling-icon_heart ml-10  mr-1"><i
                                                    class="fa fa-heart" aria-hidden="true"></i></span> 16780
                                        </div>
                                    </div>
                                    <div>
                                        Ngoài tài năng của HLV Pà Hang Seo là không cần bàn cãi thì chúng ta đang có một
                                        lứa cầu thủ này rất thông minh, bản lính, sức khỏe cực tốt. Những trân tới chỉ
                                        cần các cầu thủ chơi đúng sức đừng để sẩy chân thì tuyển VN sẽ có kết quả tốt
                                        nhất.
                                    </div>
                                </li>
                                <li class="mb-10">
                                    <div class="d-flex align-items-center justify-content-between mb-6">
                                        <div class="name-comment"><span class="f-roboto-b text-capitalize">Lộc Quảng Ninh</span>
                                            - 7h trước
                                        </div>
                                        <div class="feeling">
                                            <span class="feeling-icon feeling-icon_like mr-1"><i class="fa fa-thumbs-up"
                                                                                                 aria-hidden="true"></i></span>
                                            160
                                            <span class="feeling-icon feeling-icon_heart ml-10  mr-1"><i
                                                    class="fa fa-heart" aria-hidden="true"></i></span> 16780
                                        </div>
                                    </div>
                                    <div>
                                        Ngoài tài năng của HLV Pà Hang Seo là không cần bàn cãi thì chúng ta đang có một
                                        lứa cầu thủ này rất thông minh, bản lính, sức khỏe cực tốt. Những trân tới chỉ
                                        cần các cầu thủ chơi đúng sức đừng để sẩy chân thì tuyển VN sẽ có kết quả tốt
                                        nhất.
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list-post-detail mb-10">
                        <h2 class="t-14 f-roboto-b title">Doanh nghiệp</h2>
                        <ul class="list-post">
                            <li>
                                <a href="" class="d-block mb-10"><img src="../images/img-news-2.png" alt=""
                                                                      class="w-100"></a>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Chính sách "một thú cưng"
                                    tại thượng hải</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận
                                    bất bại dài nhất thế giới</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận
                                    bất bại dài nhất thế giới</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận
                                    bất bại dài nhất thế giới</a></h3>
                            </li>

                        </ul>
                    </div>
                    <div class="list-post-detail mb-10">
                        <h2 class="t-14 f-roboto-b title">Thương hiệu</h2>
                        <ul class="list-post">
                            <li>
                                <a href="" class="d-block mb-10"><img src="../images/img-news-2.png" alt=""
                                                                      class="w-100"></a>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Chính sách "một thú cưng"
                                    tại thượng hải</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận
                                    bất bại dài nhất thế giới</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận
                                    bất bại dài nhất thế giới</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận
                                    bất bại dài nhất thế giới</a></h3>
                            </li>

                        </ul>
                    </div>
                    <div class="list-post-detail mb-10">
                        <h2 class="t-14 f-roboto-b title">Bí quyết làm giàu</h2>
                        <ul class="list-post">
                            <li>
                                <a href="" class="d-block mb-10"><img src="../images/img-news-2.png" alt=""
                                                                      class="w-100"></a>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">Chính sách "một thú cưng"
                                    tại thượng hải</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận
                                    bất bại dài nhất thế giới</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận
                                    bất bại dài nhất thế giới</a></h3>
                            </li>
                            <li>
                                <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận
                                    bất bại dài nhất thế giới</a></h3>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="d-inline-block p-1 border"><img src="../images/ad-home-right.png" alt=""></a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="" class="d-inline-block p-1 border mr-3"><img src="../images/qc2.png" alt=""></a>
                <a href="" class="d-inline-block p-1 border"><img src="../images/qc3.png" alt=""></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="mb-15">
                <a class="d-inline-block p-1 border mb-2"><img src="../images/qc_home_top_1.png" alt=""
                                                               class="w-100"></a>
                <a class="d-inline-block p-1 border mb-2"><img src="../images/qc_home_top_2.png" alt=""
                                                               class="w-100"></a>
            </div>
            <div class="list-post-detail_2 mb-10">
                <div class="box-article-cat mb-15 border">
                    <div class="box-article-cat_head pt-5px pb-5px">
                        <h2 class="f-roboto-b t-20 title">Được quan tâm</h2>
                    </div>
                    <ul class="list-post">
                        <li>
                            <div class="media">
                                <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                                alt=""></a>
                                <div class="media-body">
                                    <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                        chuỗi bất bại dài nhất thế giới</a></h3>
                                    <div class="cl-737373 t-11 d-flex align-items-center">
                                        <img src="../images/icon-clock.png" alt=""
                                             class="mr-1"><span>10/07/2019 09:43</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                                alt=""></a>
                                <div class="media-body">
                                    <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                        chuỗi bất bại dài nhất thế giới</a></h3>
                                    <div class="cl-737373 t-11 d-flex align-items-center">
                                        <img src="../images/icon-clock.png" alt=""
                                             class="mr-1"><span>10/07/2019 09:43</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                                alt=""></a>
                                <div class="media-body">
                                    <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                        chuỗi bất bại dài nhất thế giới</a></h3>
                                    <div class="cl-737373 t-11 d-flex align-items-center">
                                        <img src="../images/icon-clock.png" alt=""
                                             class="mr-1"><span>10/07/2019 09:43</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                                alt=""></a>
                                <div class="media-body">
                                    <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                        chuỗi bất bại dài nhất thế giới</a></h3>
                                    <div class="cl-737373 t-11 d-flex align-items-center">
                                        <img src="../images/icon-clock.png" alt=""
                                             class="mr-1"><span>10/07/2019 09:43</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                                alt=""></a>
                                <div class="media-body">
                                    <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có
                                        chuỗi bất bại dài nhất thế giới</a></h3>
                                    <div class="cl-737373 t-11 d-flex align-items-center">
                                        <img src="../images/icon-clock.png" alt=""
                                             class="mr-1"><span>10/07/2019 09:43</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <a class="d-inline-block p-1 border mb-10"><img src="../images/ad_3.png" alt="" class="w-100"></a>
            <div class="list-post-detail mb-10">
                <h2 class="t-14 f-roboto-b title">Khuyến nông</h2>
                <ul class="list-post">
                    <li>
                        <div class="media">
                            <a href="" class="d-block"><img class="mr-5px" src="../images/img-news_2.png"
                                                            alt=""></a>
                            <div class="media-body">
                                <h3 class="t-14 f-roboto-b mb-1"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi
                                    bất bại dài nhất thế giới</a></h3>
                                <div class="cl-737373 t-11 d-flex align-items-center">
                                    <img src="../images/icon-clock.png" alt=""
                                         class="mr-1"><span>10/07/2019 09:43</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận bất bại
                            dài nhất thế giới</a></h3>
                    </li>
                    <li>
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận bất bại
                            dài nhất thế giới</a></h3>
                    </li>
                    <li>
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận bất bại
                            dài nhất thế giới</a></h3>
                    </li>
                    <li>
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận bất bại
                            dài nhất thế giới</a></h3>
                    </li>
                    <li>
                        <h3 class="t-14 f-roboto-b"><a href="" class="link_unstyle">ĐT Việt Nam có chuỗi trận bất bại
                            dài nhất thế giới</a></h3>
                    </li>
                </ul>
            </div>
            <div class="list-post-detail_2 mb-15">
                <div class="box-article-cat border">
                    <div class="box-article-cat_head pt-5px pb-5px">
                        <h2 class="f-roboto-b t-20 title">Tin tức mới nhất</h2>
                    </div>
                    <ul class="list-post-global pt-10 list-post-last">
                        <li><a href="" class="link_unstyle f-roboto-b">Hải Phòng: Nam thanh niên phóng xe bạt
                            mạng, đâm trực</a></li>
                        <li><a href="" class="link_unstyle f-roboto-b">Thẻ vàng EC và định hướng phát triển thủy
                            sản Việt Nam</a></li>
                        <li><a href="" class="link_unstyle f-roboto-b">Mùa đông lại kéo dài như hiện nay</a>
                        </li>
                        <li><a href="" class="link_unstyle f-roboto-b">Thẻ vàng EC và định hướng phát triển thủy
                            sản Việt Nam</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-article-cat mb-15">
    <div class="container">
        <div class="box-article-cat_head mb-20">
            <h2 class="f-roboto-b t-20 title">Có thể bạn quan tâm</h2>
        </div>
        <div class="box-article-cat_content">
            <div class="row gutter-15 mb-6">
                <div class="col-md-3 mb-15">
                    <a href="" class="d-block mb-15"><img src="../images/article_thumb_1.png" alt=""
                                                          class="w-100"></a>
                    <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Đề nghị kiểm điểm Giám đốc Sở TN-MT tỉnh
                        Thanh Hóa vì "hỏi một đường, trả lời một nẻo"</a></h3>
                </div>
                <div class="col-md-3 mb-15">
                    <a href="" class="d-block mb-15"><img src="../images/article_thumb_1.png" alt=""
                                                          class="w-100"></a>
                    <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Đề nghị kiểm điểm Giám đốc Sở TN-MT tỉnh
                        Thanh Hóa vì "hỏi một đường, trả lời một nẻo"</a></h3>
                </div>
                <div class="col-md-3 mb-15">
                    <a href="" class="d-block mb-15"><img src="../images/article_thumb_1.png" alt=""
                                                          class="w-100"></a>
                    <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Đề nghị kiểm điểm Giám đốc Sở TN-MT tỉnh
                        Thanh Hóa vì "hỏi một đường, trả lời một nẻo"</a></h3>
                </div>
                <div class="col-md-3 mb-15">
                    <a href="" class="d-block mb-15"><img src="../images/article_thumb_1.png" alt=""
                                                          class="w-100"></a>
                    <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Đề nghị kiểm điểm Giám đốc Sở TN-MT tỉnh
                        Thanh Hóa vì "hỏi một đường, trả lời một nẻo"</a></h3>
                </div>
                <div class="col-md-3 mb-15">
                    <a href="" class="d-block mb-15"><img src="../images/article_thumb_1.png" alt=""
                                                          class="w-100"></a>
                    <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Đề nghị kiểm điểm Giám đốc Sở TN-MT tỉnh
                        Thanh Hóa vì "hỏi một đường, trả lời một nẻo"</a></h3>
                </div>
                <div class="col-md-3 mb-15">
                    <a href="" class="d-block mb-15"><img src="../images/article_thumb_1.png" alt=""
                                                          class="w-100"></a>
                    <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Đề nghị kiểm điểm Giám đốc Sở TN-MT tỉnh
                        Thanh Hóa vì "hỏi một đường, trả lời một nẻo"</a></h3>
                </div>
                <div class="col-md-3 mb-15">
                    <a href="" class="d-block mb-15"><img src="../images/article_thumb_1.png" alt=""
                                                          class="w-100"></a>
                    <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Đề nghị kiểm điểm Giám đốc Sở TN-MT tỉnh
                        Thanh Hóa vì "hỏi một đường, trả lời một nẻo"</a></h3>
                </div>
                <div class="col-md-3 mb-15">
                    <a href="" class="d-block mb-15"><img src="../images/article_thumb_1.png" alt=""
                                                          class="w-100"></a>
                    <h3 class="f-roboto-b t-15"><a href="" class="link_unstyle">Đề nghị kiểm điểm Giám đốc Sở TN-MT tỉnh
                        Thanh Hóa vì "hỏi một đường, trả lời một nẻo"</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-15">
    <a href="" class="text-center d-block"><img src="../images/qc4.png" alt=""></a>
</div>
<div class="container mb-15">
    <div class="row">
        <div class="col-md-7 border-right-e4e4e5">
            <div class="box-article-cat mb-15">
                    <div class="box-article-cat_head mb-15">
                        <h2 class="f-roboto-b t-20 title">Tin cùng chuyên mục</h2>
                    </div>
                <ul class="news-relate-2">
                    <li>
                        <div class="media">
                            <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                            alt=""></a>
                            <div class="media-body">
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt 100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                                <div class="max-line max-line-3">
                                    Theo kết quả bỏ phiếu, có 13 xã đạt 100% số phiếu đồng ý công nhận xã đạt chuẩn nông thôn mới (NTM) đợt 2 năm 2019.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                            alt=""></a>
                            <div class="media-body">
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt 100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                                <div class="max-line max-line-3">
                                    Theo kết quả bỏ phiếu, có 13 xã đạt 100% số phiếu đồng ý công nhận xã đạt chuẩn nông thôn mới (NTM) đợt 2 năm 2019.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                            alt=""></a>
                            <div class="media-body">
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt 100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                                <div class="max-line max-line-3">
                                    Theo kết quả bỏ phiếu, có 13 xã đạt 100% số phiếu đồng ý công nhận xã đạt chuẩn nông thôn mới (NTM) đợt 2 năm 2019.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                            alt=""></a>
                            <div class="media-body">
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt 100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                                <div class="max-line max-line-3">
                                    Theo kết quả bỏ phiếu, có 13 xã đạt 100% số phiếu đồng ý công nhận xã đạt chuẩn nông thôn mới (NTM) đợt 2 năm 2019.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                            alt=""></a>
                            <div class="media-body">
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt 100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                                <div class="max-line max-line-3">
                                    Theo kết quả bỏ phiếu, có 13 xã đạt 100% số phiếu đồng ý công nhận xã đạt chuẩn nông thôn mới (NTM) đợt 2 năm 2019.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                            alt=""></a>
                            <div class="media-body">
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt 100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                                <div class="max-line max-line-3">
                                    Theo kết quả bỏ phiếu, có 13 xã đạt 100% số phiếu đồng ý công nhận xã đạt chuẩn nông thôn mới (NTM) đợt 2 năm 2019.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                            alt=""></a>
                            <div class="media-body">
                                <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt 100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                                <div class="max-line max-line-3">
                                    Theo kết quả bỏ phiếu, có 13 xã đạt 100% số phiếu đồng ý công nhận xã đạt chuẩn nông thôn mới (NTM) đợt 2 năm 2019.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="box-article-cat mb-15">
                <div class="box-article-cat_head border-left-ed1c24 mb-15">
                    <h2 class="f-roboto-b t-20 title">Tin tức kinh tế</h2>
                </div>
                <div class="box-article-cat_content">
                    <div class="media mb-10">
                        <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt
                                100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                            <div class="des max-line max-line-4">
                                Thông thường những tiến bộ khoa học kỹ thuật mới hay các giống mới, muốn mở rộng nhanh trong sản
                            </div>
                        </div>
                    </div>
                    <div class="pt-10 mb-15 border-top-e4e4e5">
                        <div class="row gutter-10 mb-15">
                            <div class="col-md-6">
                                <div class="media">
                                    <a href="" class="d-block"><img class="mr-10"
                                                                    src="../images/article_thumb_1.png"
                                                                    alt=""></a>
                                    <div class="media-body">
                                        <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Một điển
                                            hình xây dựng nông thôn mới <i class="fa fa-camera-video cl-999999"
                                                                           aria-hidden="true"></i></a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <a href="" class="d-block"><img class="mr-10"
                                                                    src="../images/article_thumb_1.png"
                                                                    alt=""></a>
                                    <div class="media-body">
                                        <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Một điển
                                            hình xây dựng nông thôn mới <i class="fa fa-camera-video cl-999999"
                                                                           aria-hidden="true"></i></a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-article-cat mb-15">
                <div class="box-article-cat_head border-left-ed1c24 mb-15">
                    <h2 class="f-roboto-b t-20 title">Nông nghiệp công nghệ cao</h2>
                </div>
                <div class="box-article-cat_content">
                    <div class="media mb-10">
                        <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt
                                100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                            <div class="des max-line max-line-4">
                                Thông thường những tiến bộ khoa học kỹ thuật mới hay các giống mới, muốn mở rộng nhanh trong sản
                            </div>
                        </div>
                    </div>
                    <div class="pt-10 mb-15 border-top-e4e4e5">
                        <div class="row gutter-10 mb-15">
                            <div class="col-md-6">
                                <div class="media">
                                    <a href="" class="d-block"><img class="mr-10"
                                                                    src="../images/article_thumb_1.png"
                                                                    alt=""></a>
                                    <div class="media-body">
                                        <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Một điển
                                            hình xây dựng nông thôn mới <i class="fa fa-camera-video cl-999999"
                                                                           aria-hidden="true"></i></a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <a href="" class="d-block"><img class="mr-10"
                                                                    src="../images/article_thumb_1.png"
                                                                    alt=""></a>
                                    <div class="media-body">
                                        <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Một điển
                                            hình xây dựng nông thôn mới <i class="fa fa-camera-video cl-999999"
                                                                           aria-hidden="true"></i></a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-article-cat mb-15">
                <div class="box-article-cat_head border-left-ed1c24 mb-15">
                    <h2 class="f-roboto-b t-20 title">Khuyến nông</h2>
                </div>
                <div class="box-article-cat_content">
                    <div class="media mb-10">
                        <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt
                                100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                            <div class="des max-line max-line-4">
                                Thông thường những tiến bộ khoa học kỹ thuật mới hay các giống mới, muốn mở rộng nhanh trong sản
                            </div>
                        </div>
                    </div>
                    <div class="pt-10 mb-15 border-top-e4e4e5">
                        <div class="row gutter-10 mb-15">
                            <div class="col-md-6">
                                <div class="media">
                                    <a href="" class="d-block"><img class="mr-10"
                                                                    src="../images/article_thumb_1.png"
                                                                    alt=""></a>
                                    <div class="media-body">
                                        <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Một điển
                                            hình xây dựng nông thôn mới <i class="fa fa-camera-video cl-999999"
                                                                           aria-hidden="true"></i></a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <a href="" class="d-block"><img class="mr-10"
                                                                    src="../images/article_thumb_1.png"
                                                                    alt=""></a>
                                    <div class="media-body">
                                        <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Một điển
                                            hình xây dựng nông thôn mới <i class="fa fa-camera-video cl-999999"
                                                                           aria-hidden="true"></i></a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-article-cat mb-15">
                <div class="box-article-cat_head border-left-ed1c24 mb-15">
                    <h2 class="f-roboto-b t-20 title">Bí quyết làm giàu</h2>
                </div>
                <div class="box-article-cat_content">
                    <div class="media mb-10">
                        <a href="" class="d-block"><img class="mr-10" src="../images/article_thumb_1.png"
                                                        alt=""></a>
                        <div class="media-body">
                            <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Hưng Yên: 13 xã đạt
                                100% số phiếu xét đạt chuẩn nông thôn mới đợt 2</a></h3>
                            <div class="des max-line max-line-4">
                                Thông thường những tiến bộ khoa học kỹ thuật mới hay các giống mới, muốn mở rộng nhanh trong sản
                            </div>
                        </div>
                    </div>
                    <div class="pt-10 mb-15 border-top-e4e4e5">
                        <div class="row gutter-10 mb-15">
                            <div class="col-md-6">
                                <div class="media">
                                    <a href="" class="d-block"><img class="mr-10"
                                                                    src="../images/article_thumb_1.png"
                                                                    alt=""></a>
                                    <div class="media-body">
                                        <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Một điển
                                            hình xây dựng nông thôn mới <i class="fa fa-camera-video cl-999999"
                                                                           aria-hidden="true"></i></a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <a href="" class="d-block"><img class="mr-10"
                                                                    src="../images/article_thumb_1.png"
                                                                    alt=""></a>
                                    <div class="media-body">
                                        <h3 class="t-14 f-roboto-b mb-10"><a href="" class="link_unstyle">Một điển
                                            hình xây dựng nông thôn mới <i class="fa fa-camera-video cl-999999"
                                                                           aria-hidden="true"></i></a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mb-30">
    <a href="" class="d-block border-top-e4e4e5 text-center"><img src="../images/qc5.png" alt=""></a>
</div>