@font-face {
  font-family: 'Roboto-Regular';
  src: url("../vendor/fonts/Roboto-Regular.eot");
  src: url("../vendor/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/Roboto-Regular.woff") format("woff"), url("../vendor/fonts/Roboto-Regular.ttf") format("truetype"), url("../vendor/fonts/Roboto-Regular.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url("../vendor/fonts/Roboto-Bold.eot");
  src: url("../vendor/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/Roboto-Bold.woff") format("woff"), url("../vendor/fonts/Roboto-Bold.ttf") format("truetype"), url("../vendor/fonts/Roboto-Bold.svg#svgFontName") format("svg");
}
@font-face {
  font-family: 'Tahoma';
  src: url("../vendor/fonts/Tahoma.eot");
  src: url("../vendor/fonts/Tahoma.eot?#iefix") format("embedded-opentype"), url("../vendor/fonts/Tahoma.woff") format("woff"), url("../vendor/fonts/Tahoma.ttf") format("truetype"), url("../vendor/fonts/Tahoma.svg#svgFontName") format("svg");
}