.f-roboto-b {
  font-family: "Roboto-Bold";
}

.f-tahoma {
  font-family: "Tahoma";
}

/*font-sise*/
.t-10 {
  font-size: 10px;
}

.t-11 {
  font-size: 11px;
}

.t-12 {
  font-size: 12px;
}

.t-14 {
  font-size: 14px;
}

.t-15 {
  font-size: 15px;
}

.t-16 {
  font-size: 16px;
}

.t-17 {
  font-size: 17px;
}

.t-18 {
  font-size: 18px;
}

.t-19 {
  font-size: 19px;
}

.t-20 {
  font-size: 20px;
}

.t-25 {
  font-size: 25px;
}

.w-15 {
  width: 15px;
}
.ml-10{
  margin-left: 10px;
}
.cl-7f7f7f {
  color: #7f7f7f;
}
.cl-083f59 {
  color: #083f59;
}

.cl-00baff {
  color: #00baff;
}
.cl-999999 {
  color: #999999;
}
.cl-00baff {
  color: #00baff;
}
.cl-fff{
  color: #fff;
}
.cl-737373{
  color: #737373;
}
.mb-8 {
  margin-bottom: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mr-30{
  margin-right: 30px !important;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-6 {
  margin-bottom: 6px !important;
}
.pb-10{
  padding-bottom: 10px;
}
.pt-10{
  padding-top: 10px;
}
.pt-15{
  padding-top: 15px;
}
.pb-15{
  padding-bottom: 15px;
}
.pt-5px{
  padding-top: 5px !important;
}
.pb-5px{
  padding-bottom: 5px !important;
}
.mr-5px{
  margin-right:  5px !important;
}
.p-10{
  padding: 10px;
}
.bg-e1e1e1{
  background: #e1e1e1;
}
.bg-fff{
  background: #fff;
}
.bg-062d3f{
  background: #062d3f;
}
.cl-164069{
  color: #164069;
}
.bg-4a4a4a{
  background: #4a4a4a;
}
.border-bottom-fff{
  border-bottom: 1px solid #fff;
}
.cl-696969{
  color: #696969;
}
.link_unstyle{
  color: inherit;
}
.gutter-10 {
  margin: 0 -5px;
}
.gutter-10>[class^=col] {
  padding: 0 5px;
}
.gutter-15 {
  margin: 0 -7.5px;
}
.gutter-15>[class^=col] {
  padding: 0 7.5px;
}
.gutter-20 {
  margin: 0 -10px;
}
.border-left-ed1c24{
  border-left-color: #ed1c24 !important;
}
.gutter-20>[class^=col] {
  padding: 0 10px;
}
.range-20>[class^=col-md] {
  flex: 0 0 20%;
  max-width: 20%;
}
.max-line {
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.max-line-2 {
  -webkit-line-clamp: 2;
  height: 40px;
}
.max-line-3 {
  -webkit-line-clamp: 3;
  height: 60px;
}
.max-line-4 {
  -webkit-line-clamp: 4;
  height: 80px;
}
.max-line-6 {
  -webkit-line-clamp: 6;
  height: 120px;
}
.list-post-global {
  li {
    position: relative;
    padding-left: 10px;
    &:before {
      position: absolute;
      content: "";
      border-radius: 50%;
      width: 3px;
      height: 3px;
      background: #c51e26;
      top: 8px;
      left: 3px;
    }
  }
}

.name-cat {
  text-transform: uppercase;
  position: relative;
  padding-left: 12px;

  &:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #58a5da;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.border-top-e4e4e5{
  border-top: 2px solid #e4e4e5;
}
.border-right-e4e4e5{
    border-right: 2px solid #e4e4e5;
}
.btn-nav-video {
  position: relative;
  height: 22px;
  width: 22px;
  background: #d7d7d7;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  font-size: 25px;
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;

    &:after {
      color: #7d7d7d;
    }
  }

  &:after {
    position: absolute;
    font-family: "FontAwesome";
    font-size: 20px;
    color: #f8f8f8;
  }

  &-left {
    &:after {
      content: "\f0d9";
      top: 50%;
      transform: translate(-50%, -50%);
      left: calc(50% - 1px);
    }
  }

  &-right {
    margin-left: 10px;
    &:after {
      content: "\f0da";
      top: 50%;
      transform: translate(-50%, -50%);
      left: calc(50% + 1px);
    }
  }
}
.border-footer_mb{
  border-top: 1px solid #d5d5d5;
  border-bottom: 2px solid #fff;
}