.pagination {
    flex-wrap: wrap;
}

.pagination li {
    margin-bottom: 5px;
}

img {
    height: auto;
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* comment */
@media screen and (min-width: 767px) {
    .modal-content {
        width: 500px;
        margin-left: 50px;
    }

    .input_cmt {
        margin-right: 180px;
    }

    textarea.form-control {
        height: 70px;
    }

    .comment-count {
        position: absolute;
        left: 20px;
        bottom: -10px;
        border-bottom: 3px solid #FF0000;
        font-weight: bold;
        line-height: 16px;
        padding: 0 10px 8px 0;
        font-size: 14px;
    }

    .comment_child {
        margin-left: 80px;
        width: 90%;
        margin-bottom: 30px;
    }

    .comments .cmt-content {
        font-size: 14px;
        line-height: 22px;
        color: #1b1f22;
        margin-left: 50px;
        margin-bottom: 5px;
    }

    .comments .cmt-author {
        display: block;
        font-weight: bold;
        color: #009EE5;
        padding-right: 5px;
        text-transform: capitalize;
        margin-bottom: 2px;
    }

    .box-comment a {
        cursor: pointer;
    }

    .comments .date {
        color: #A3B0B9;
        font-weight: normal;
        font-size: 11px;
        text-transform: lowercase;
    }

    .comments .cmt-avatar {

        width: 38px;
        height: 38px;

        background: #ECECEC;
        vertical-align: middle;
        text-align: center;
        font-size: 24px;
        line-height: 20px;
        vertical-align: middle;
        color: #FFF;
        font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        border-radius: 50%;
        float: left;
    }

    .comment .list_tag_value {

        margin-left: 10px;
    }

    .icon-video-site {
        margin-left: 5px;
        margin-top: 85px;
    }
}

/*css weather*/
.box-temp {
    display: none;
}

.box-temp.active {
    display: block;
}

body.no-scroll {
    overflow: hidden;
}

@media (max-width: 991px) {
    .border-left, .border-right {
        border: 0 !important;
    }
  
}



.overflow-hidden {
    overflow: hidden !important;
}

.article-main .list-post {
    max-height: 420px;
}


.name-cat {
    font-size: 12px;
}

.name-cat:before {
    width: 6px;
    height: 6px;
}

.item-video .t-14, .list-article .t-16, .box-article-cat_content .f-roboto-b {
    line-height: 1.3em;
}

.box-article-cat_content .t-12 {
    line-height: 1.3em;
}

.mediavh {
    margin-bottom: 10px;
}

@media screen and (min-width: 991px) {

    .wrap .cus-col9 {
        flex: 0 0 72%;
        max-width: 72%;
    }

    .wrap .cus-col3 {
        flex: 0 0 28%;
        max-width: 28%;
    }

    .wrap .gutter-10 .cus-col8 {
        flex: 0 0 63%;
        max-width: 63%;
    }

    .wrap .gutter-10 .cus-col4 {
        flex: 0 0 37%;
        max-width: 37%;
    }

    .home-cus-col5 {
        flex: 0 0 46%;
        max-width: 46%;
    }

    .home-cus-col7 {
        flex: 0 0 54%;
        max-width: 54%;
    }
}

@media screen and (max-width: 767px) {

    .article-main .nav-tab_article {
        margin-top: 15px;
    }


    .article-main .list-post {
        max-height: unset;
    }

    .range-20 h3 {
        -webkit-line-clamp: unset;
        height: unset;
        font-size: 17px;
        line-height: 1.3em;
        margin-bottom: 10px;
    }

    .box-article-cat_head .title {
        font-size: 17px;
    }
}

@media (max-width: 991px) {
    .t-16-mb{
        font-size: 16px !important;
    }
    .t-17-mb{
        font-size: 17px !important;
    }
    .section-cat-article_inner .left {
        padding-right: 0;
        border-right: 0;
    }
    .t-12-dt {
        font-size: 14px;
    }
    .flex-md-1{
        flex: 1;
    }
    .tab-content{
        font-size: 15px;
    }
    .border-top-mb-cat{
        padding-top: 10px;
        border-top: 1px solid #ebebeb;
        margin-top: 10px;
    }
}

@media (min-width: 991.98px) {
    .t-12-dt {
        font-size: 12px;
    }
}
/*set border*/
.video-home_title {
    border-top: 1px solid #d6d6d6;
}
.section-cat-article_inner .left {
    border-right: 1px solid #e4e4e5;
}
.border-top-e4e4e5 {
    border-top: 1px solid #e4e4e5;
}
.section-cat-article_inner .left .list-article li + li {
    border-top: 1px solid #e6e6e7;
}
.footer_desktop_menu1 .border-right-custom:after {
    width: 1px;
}
.video-home_inner {
    border-bottom: 1px solid #e5e5e5;
}
.border-right-e4e4e5 {
    border-right: 1px solid #e4e4e5;
}
.content img{
    height: auto !important;
}
.header_menu .menu >li >a {
    text-align: center;
}
/*end set border*/


@media (min-width: 768px) {
    .ispc{
        display: block !important;
    }
    .nav-tab_article.ispc{
        display: flex !important;
    }
    .ismb{
        display: none !important;
    }
}
@media (max-width: 767px) {
    .ispc{
        display: none !important;
    }
    .ismb{
        display: block !important;
    }
    .tab-content {
        font-size: 17px;
    }
    .t-20 {
        font-size: 21px;
    }
    .list-hot{
        margin-bottom: 20px;
    }
    .list-hot a img{
        width: 40%!important;
        float: left;
    }
    .list-hot a.d-block{
        display: unset !important;
    }
    .list-hot h3{
        font-size: 15px;
        padding-left: 10px;
    }
    .home-cus-col5{
        display: none;
    }
    .cat-child{
        display: none !important;
    }



    .footer-mb_menu li{
            text-align:center;
    }
    .footer-mb-contact_item h3.t-20{
        font-size: 15px;
        margin-bottom: 3px;
    }
    .footer-mb-contact_item{
        border-left: 4px solid #00baff;
    }
    .border-footer_mb {
        border-top: 1px solid #d5d5d5;
        border-bottom: 1px solid #fbf5f5;
    }
    .footer-mb_logo .logo {
        width: 25%;
        min-width: 125px;
        margin: 10px 0px;
    }
    .footer-mb-contact_item .t-20{
        font-size: 18px;
    }
    .section-cat-article .container:before
    ,.section-cat-article .container:after
    ,.section-cat-article_inner:before
    ,.section-cat-article_inner::after{
        display: none;
    }

    .ads img{
        width: 100%;
    }

    .heder-mobile .wrap-button-open-menu li:first-child{
        border-right: unset;
    }
    .heder-mobile .wrap-button-open-menu li:last-child{
        padding-left: 15px;
    }
    .list-post-global li:before{
        width: 5px;
        height: 5px;
    }
    .list-post-global li{
        padding-left: 15px;
    }

    
    .list-home-mb li {
        padding-left: 0;
        margin-bottom: 10px;
     }
     .list-home-mb li img{
         float: left;
     }
     .list-home-mb li:before{
         display: none;
     }
     
     .wrap-menu-mobile_inner .menu-mobile .open-sub-menu{
         width: 20px;
         height: 20px;
     }

     /* category */
     .list-cate-mb img{
         width: 40% !important;
         float: left;
         margin-right: 10px;
     }
     .list-cate-mb .t-17-mb {
        font-size: 15px !important;
        padding-left: 10px;
        line-height: 1.4em;
    }
    .list-post-cat-top li:last-child {
        border-bottom:1px dotted #b1b0b0;
    }

    .list-cate-mb-more h3{
        width: 60%;
        float: right;
        font-size: 15px;
        line-height: 1.4em;
    }
    .list-cate-mb-more .gutter-10{
        width: 40%;
        float: left;
    }
    .hot-cate{
        padding-bottom: 10px !important;
    }
    .box-article-cat_content img{
        width: 40% !important;
        float: left;
        margin-right: 10px;
    }
    .box-article-cat_content .mb-30 {
        margin-bottom: 10px !important;
    }
    .box-article-cat_content a .d-block{
        display: unset;
    }

    .box-article-cat_content img.img-large{
        width: 100% !important;
        margin-bottom: 10px;
    }
    .fixblock a.d-block{
        display: contents !important;
    }
}