ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer !important;
    color: #083f59;
}

body {
    font-family: "Roboto-Regular";
    font-size: 14px;
    overflow-x: hidden;
}

input {
    outline: 0;
}

img {
    max-width: 100%;
}

@media (max-width: 991px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.pagination li {
    margin-right: 8px;
}

.pagination li:last-child {
    margin-right: 0;
}

.pagination li.active a {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination li a, .pagination li span {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
    color: #333;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#svgFontName") format("svg");
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto-Bold.eot");
    src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#svgFontName") format("svg");
}

@font-face {
    font-family: 'Tahoma';
    src: url("../fonts/Tahoma.eot");
    src: url("../fonts/Tahoma.eot?#iefix") format("embedded-opentype"), url("../fonts/Tahoma.woff") format("woff"), url("../fonts/Tahoma.ttf") format("truetype"), url("../fonts/Tahoma.svg#svgFontName") format("svg");
}

.f-roboto-b {
    font-family: "Roboto-Bold";
}

.f-tahoma {
    font-family: "Tahoma";
}

/*font-sise*/
.t-10 {
    font-size: 10px;
}

.t-11 {
    font-size: 11px;
}

.t-12 {
    font-size: 12px !important;
}

.t-14 {
    font-size: 14px;
}

.t-15 {
    font-size: 15px;
}

.t-16 {
    font-size: 16px;
}

.t-17 {
    font-size: 17px;
}

.t-18 {
    font-size: 18px;
}

.t-19 {
    font-size: 19px;
}

.t-20 {
    font-size: 20px;
}

.t-24 {
    font-size: 24px;
}

.t-25 {
    font-size: 25px;
}

.w-15 {
    width: 15px;
}

.ml-10 {
    margin-left: 10px;
}

.cl-7f7f7f {
    color: #7f7f7f;
}

.cl-083f59 {
    color: #083f59;
}

.cl-00baff {
    color: #00baff;
}

.cl-999999 {
    color: #999999;
}

.cl-00baff {
    color: #00baff;
}

.cl-fff {
    color: #fff;
}

.cl-737373 {
    color: #737373;
}

.mb-8 {
    margin-bottom: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.pb-10 {
    padding-bottom: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pt-5px {
    padding-top: 5px !important;
}

.pb-5px {
    padding-bottom: 5px !important;
}

.mr-5px {
    margin-right: 5px !important;
}

.p-10 {
    padding: 10px;
}

.bg-e1e1e1 {
    background: #e1e1e1;
}

.bg-fff {
    background: #fff;
}

.bg-062d3f {
    background: #062d3f;
}

.cl-164069 {
    color: #164069;
}

.bg-4a4a4a {
    background: #4a4a4a;
}

.border-bottom-fff {
    border-bottom: 1px solid #fff;
}

.border-bottom-183873 {
    border-bottom: 1px solid #183873;
}

.cl-696969 {
    color: #696969;
}

.link_unstyle {
    color: inherit;
}

.gutter-10 {
    margin: 0 -5px;
}

.gutter-10 > [class^=col] {
    padding: 0 5px;
}

.gutter-15 {
    margin: 0 -7.5px;
}

.gutter-15 > [class^=col] {
    padding: 0 7.5px;
}

.gutter-20 {
    margin: 0 -10px;
}

.gutter-20 > [class^=col] {
    padding: 0 10px;
}

.border-left-ed1c24 {
    border-left-color: #ed1c24 !important;
}


.range-20 > [class^=col-md] {
    flex: 0 0 20%;
    max-width: 20%;
}

.max-line {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.max-line-2 {
    -webkit-line-clamp: 2;
    height: 40px;
}

.max-line-3 {
    -webkit-line-clamp: 3;
    height: 60px;
}

.max-line-4 {
    -webkit-line-clamp: 4;
    height: 80px;
}

.max-line-6 {
    -webkit-line-clamp: 6;
    height: 120px;
}

.list-post-global li {
    position: relative;
    padding-left: 10px;
}

.list-post-global li:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background: #c51e26;
    top: 8px;
    left: 3px;
}

.name-cat {
    text-transform: uppercase;
    position: relative;
    padding-left: 12px;
}

.name-cat:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #58a5da;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.border-top-e4e4e5 {
    border-top: 2px solid #e4e4e5;
}

.border-right-e4e4e5 {
    border-right: 2px solid #e4e4e5;
}

.btn-nav-video {
    position: relative;
    height: 22px;
    width: 22px;
    background: #d7d7d7;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    font-size: 25px;
}

.btn-nav-video:hover {
    cursor: pointer;
}

.btn-nav-video:focus {
    outline: 0;
}

.btn-nav-video:focus:after {
    color: #7d7d7d;
}

.btn-nav-video:after {
    position: absolute;
    font-family: "FontAwesome";
    font-size: 20px;
    color: #f8f8f8;
}

.btn-nav-video-left:after {
    content: "\f0d9";
    top: 50%;
    transform: translate(-50%, -50%);
    left: calc(50% - 1px);
}

.btn-nav-video-right {
    margin-left: 10px;
}

.btn-nav-video-right:after {
    content: "\f0da";
    top: 50%;
    transform: translate(-50%, -50%);
    left: calc(50% + 1px);
}

.border-footer_mb {
    border-top: 1px solid #d5d5d5;
    border-bottom: 2px solid #fff;
}

.header_top {
    padding: 4px 0 7px 0;
    background: #083f59;
    border-top: 1px solid #23546b;
    border-bottom: 1px solid #073a53;
}

.header_top .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header_top_menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header_top_menu li + li:before {
    content: '|';
    display: inline-block;
    color: #fff;
    margin: 0 8px 0 14px;
}

.header_top_menu a {
    color: #fff;
    text-transform: uppercase;
}

.header_top_form {
    width: 230px;
    height: 21px;
    position: relative;
}

.header_top_form input {
    display: block;
    border-radius: 30px;
    border: none;
    height: 100%;
    width: 100%;
    padding: 1px 5px 0 10px;
}

.header_top_form .btn_search {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 9px;
    background: none;
    color: #969696;
    padding-right: 8px;
    outline: 0;
    box-shadow: none;
}

.header_logo {
    background: #062d40;
    padding: 10px 0 12px 0;
}

.header_menu {
    position: relative;
    border-top: 1px solid #476471;
}

.header_menu .line_bottom div:nth-child(1) {
    height: 1px;
    background: #45c0ec;
}

.header_menu .line_bottom div:nth-child(2) {
    height: 1px;
    background: #00a8e5;
}

.header_menu .line_bottom div:nth-child(3) {
    height: 1px;
    background: #45c0ec;
}

.header_menu .menu {
    width: 100%;
}

.header_menu .menu .dropdown-menu {
    margin: 0;
    border-radius: 0;
    padding: 0;
    opacity: 0;
    display: block;
    visibility: hidden;
    border-left: 0;
    min-width: 210px;
}

.header_menu .menu .dropdown-menu li:hover > a {
    transition: all 0.4s;
    padding-left: 20px;
}

.header_menu .menu .dropdown-menu > li:hover > .dropdown-menu {
    display: block;
    visibility: visible;
    transition: all 0.4s;
    opacity: 1;
    left: 100%;
}

.header_menu .menu .dropdown-menu > li > .dropdown-menu {
    top: 0;
    left: 200%;
    margin-left: 1px;
}

.header_menu .menu > li > .dropdown-menu {
    left: 100%;
}

.header_menu .menu > li > .dropdown-menu a {
    display: block;
    padding-left: 15px;
}

.header_menu .menu > li:hover > .dropdown-menu {
    visibility: visible;
    left: 0;
    transition: all 0.4s;
    opacity: 1;
}

.header_menu .menu li {
    position: relative;
    align-items: center;
    flex: auto;
}

.header_menu .menu li:hover > a {
    transition: 0.4s;
    background: #083f59;
    color: #fff;
}

.header_menu .menu li a {
    font-size: 14px;
    height: 100%;
    padding: 7px 0 5px 0;
    text-transform: capitalize;
    color: #000;
}

.header_menu .menu li.open-menu-big-destop {
    position: unset;
    display: inline-flex;
    justify-content: center;
    width: 25px;
}

.header_menu .menu li.open-menu-big-destop .dot-menu {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 2px;
}

.header_menu .menu li.open-menu-big-destop .dot-menu span {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: block;
    background: #00a8e5;
}

.header_menu .menu li.open-menu-big-destop .dot-menu span + span {
    margin-left: 2px;
}

.header_menu .menu li.open-menu-big-destop:hover {
    background: #083f59;
    cursor: pointer;
}

.header_menu .menu li.open-menu-big-destop:hover .dot-menu span {
    background: #fff;
}

.header_menu .menu li.open-menu-big-destop:hover .menu-big {
    visibility: visible;
    opacity: 1;
    top: 35px;
    transition: all .3s;
}

.header_menu .menu li.open-menu-big-destop .menu-big {
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 0;
    right: 0;
    padding: 15px;
    background: #083f59;
    visibility: hidden;
    opacity: 0;
}

.header_menu .menu li.open-menu-big-destop .menu-big .item-menu > li > a {
    text-transform: uppercase;
}

.header_menu .menu li.open-menu-big-destop .menu-big .item-menu a {
    color: #fff;
    display: block;
    padding: 1px;
}

.header_menu .menu li.open-menu-big-destop .menu-big .item-menu a:hover {
    text-decoration: underline;
}

.header_menu .menu li.open-menu-big-destop .menu-big .item-menu_sub {
    margin-top: 5px;
}

.header_menu .menu li.open-menu-big-destop .menu-big .item-menu_sub .item-menu_sub {
    margin-top: 2px;
    padding-left: 15px;
}

.heder-mobile {
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    background: #062d3f;
}

.heder-mobile .container {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.heder-mobile .wrap-button-open-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}

.heder-mobile .wrap-button-open-menu li {
    padding: 3px 0;
}

.heder-mobile .wrap-button-open-menu li:first-child {
    padding-right: 10px;
    border-right: 1px solid #fff;
}

.heder-mobile .wrap-button-open-menu li:last-child {
    padding-left: 10px;
}

.heder-mobile .wrap-button-open-menu .button-open-menu {
    background: none;
    padding: 0;
    border: 0;
}

.heder-mobile .wrap-button-open-menu .button-open-menu .icon-bar {
    height: 2px;
    width: 22px;
    background: #fff;
    display: block;
}

.heder-mobile .wrap-button-open-menu .button-open-menu .icon-bar + .icon-bar {
    margin-top: 3px;
}

.wrap-menu-mobile .mb-filter {
    display: block;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: -100%;
    transition: left 0s .3s, opacity .3s;
}

.wrap-menu-mobile .mb-filter.show {
    left: 0;
    opacity: .5;
    transition: left 0s, opacity .3s;
}

.wrap-menu-mobile_inner {
    background-color: #062d3f;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: -100%;
    width: 280px;
    height: 100vh;
    padding-bottom: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: .3s;
    /* Track */
    /* Handle */
    /* Handle on hover */
}

.wrap-menu-mobile_inner::-webkit-scrollbar {
    width: 5px;
}

.wrap-menu-mobile_inner::-webkit-scrollbar-track {
    background: #fff;
}

.wrap-menu-mobile_inner::-webkit-scrollbar-thumb {
    background: #17a2b8;
}

.wrap-menu-mobile_inner::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}

.wrap-menu-mobile_inner.show {
    left: 0;
}

.wrap-menu-mobile_inner ul.sub-menu {
    border-top: 1px solid #fff;
    padding-left: 10px;
    display: none;
}

.wrap-menu-mobile_inner .menu-mobile .open-sub-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background: #f4f4f4;
    border-radius: 50%;
    color: #062d3f;
    position: absolute;
    top: 8px;
    right: 15px;
    transition: .3s;
}

.wrap-menu-mobile_inner .menu-mobile .open-sub-menu.show {
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.wrap-menu-mobile_inner .menu-mobile li {
    position: relative;
}

.wrap-menu-mobile_inner .menu-mobile li .form-serach-mb {
    display: flex;
}

.wrap-menu-mobile_inner .menu-mobile li .form-serach-mb input {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.wrap-menu-mobile_inner .menu-mobile li .form-serach-mb button {
    background: #f1f1f1;
    width: 40px;
    border: 1px solid #ebebeb;
    border-radius: 0 3px 3px 0;
    font-size: 18px;
    color: #888;
}

.wrap-menu-mobile_inner .menu-mobile li a {
    display: block;
    padding: 10px 10px 10px 15px;
    color: #fff;
}

.wrap-menu-mobile_inner .menu-mobile li + li {
    border-top: 1px solid #fff;
}

.top-content .left {
    width: 65%;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
}

.top-content .left .news-update {
    color: #737373;
    overflow: hidden;
    flex: 1;
}

.top-content .left .news-update .label {
    position: relative;
    background: #076182;
    display: inline-block;
    padding: 1px 5px;
    color: #fff;
    border-radius: 2px;
    white-space: nowrap;
    margin-right: 10px;
}

.top-content .left .news-update .label:after {
    position: absolute;
    content: "";
    clip-path: polygon(100% 50%, 50% 0, 50% 100%);
    width: 10px;
    height: 10px;
    background: #076182;
    top: 50%;
    left: calc(100% - 6px);
    transform: translateY(-50%);
}

.top-content .left .news-update .content-marquee {
    position: relative;
    display: inline-block;
    padding-left: 10px;
}

.top-content .left .news-update .content-marquee:after {
    position: absolute;
    content: "";
    width: 3px;
    height: 3px;
    background: #737373;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.top-content .right .dropdown-weather {
    color: #838383;
    font-size: 12px;
    cursor: pointer;
    margin-top: 1px;
}

.top-content .right .dropdown-weather .dropdown-menu a.dropdown-item {
    padding: 4px 15px;
}

.top-content .right .dropdown-weather .dropdown-menu a.dropdown-item:hover {
    color: #fff !important;
    background: #083f59 !important;
}

.article-main_big .sapo {
    color: #7d7d7d;
}

.article-main .nav-tab_article {
    border-bottom: 1px solid #cdcdcd;
}

.article-main .nav-tab_article a {
    color: #959595;
    padding: 5px 10px;
}

.article-main .nav-tab_article a.active {
    color: #00a8e4;
}

.article-main .list-post {
    padding-top: 10px;
    max-height: 400px;
    overflow: auto;
    /* Track */
    /* Handle */
    /* Handle on hover */
}

.article-main .list-post::-webkit-scrollbar {
    width: 7px;
}

.article-main .list-post::-webkit-scrollbar-track {
    background: #fff;
}

.article-main .list-post::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    border-radius: 30px;
}

.article-main .list-post::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}

.article-main .article-main_qc {
    border: 1px solid #c9c9c9;
}

.article-main .article-main_qc img {
    padding: 1px 2px;
    border: 1px solid #ececec;
}

.video-home_inner {
    border-bottom: 2px solid #e5e5e5;
}

.video-home_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 5px 20px 5px;
    border-top: 2px solid #d6d6d6;
    background-image: linear-gradient(#fafafa, #fff);
}

.video-home_title:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    top: 0px;
    left: 0;
}

.video-home_title .nav-video-home {
    font-size: 25px;
}

.video-home .icon-video {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: unset !important;
    height: unset !important;
}

.section-cat-article .container {
    position: relative;
}

.section-cat-article .container:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 60%;
    background: url(../images/shadow-line.png) no-repeat;
    background-size: contain;
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
}

.section-cat-article_inner {
    position: relative;
    padding-bottom: 30px;
}

.section-cat-article_inner:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 1px;
    background: linear-gradient(to right, transparent, gainsboro);
    left: 50%;
    bottom: 0;
    transform: translateX(-100%);
}

.section-cat-article_inner:after {
    position: absolute;
    content: "";
    width: 30%;
    height: 1px;
    background: linear-gradient(to left, transparent, gainsboro);
    right: 50%;
    bottom: 0;
    transform: translateX(100%);
}

.section-cat-article_inner .left {
    padding-right: 10px;
    border-right: 2px solid #e4e4e5;
}

.section-cat-article_inner .left .list-article li + li {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 2px solid #e6e6e7;
}

.box-article-cat_head {
    display: flex;
    align-items: center;
    overflow-y: auto;
    flex-wrap: nowrap;
    background: #f2f2f2;
    border-bottom: 1px solid #c5c5c5;
    justify-content: space-between;
    border-left: 4px solid #00baff;
    padding: 10px 10px 10px 15px;
    /* Track */
    /* Handle */
    /* Handle on hover */
}

.box-article-cat_head::-webkit-scrollbar {
    height: 5px;
}

.box-article-cat_head::-webkit-scrollbar-track {
    background: #fff;
}

.box-article-cat_head::-webkit-scrollbar-thumb {
    background: #e0e0e0;
}

.box-article-cat_head::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}

.box-article-cat_head .title {
    white-space: nowrap;
    padding-right: 15px;
}

.box-article-cat_head .cat-child {
    display: flex;
    align-items: center;
    padding-top: 3px;
    justify-content: flex-end;
}

.box-article-cat_head .cat-child li {
    white-space: nowrap;
}

.box-article-cat_head .cat-child li a {
    color: #7c7c7c;
    text-transform: uppercase;
}

.box-article-cat_head .cat-child li + li:before {
    content: "|";
    color: #7c7c7c;
    display: inline-block;
    padding: 0 5px;
}

.slide-articles .title {
    position: relative;
    background: #3974cc;
    color: #fff;
    display: inline-block;
    padding: 3px 14px;
    border: 1px solid #6490d1;
    text-transform: uppercase;
}

.slide-articles .title:before {
    position: absolute;
    content: "";
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    top: 0;
    bottom: 0;
    left: calc(100% + 1px);
    height: 100%;
    width: 7px;
    background-image: linear-gradient(#868686, #fff);
}

.slide-articles .js-slide-articles-slider {
    padding: 5px;
    border: 1px solid #f1f1f1;
}

.feedback_title {
    background: #00baff;
    color: #fff;
    padding: 9px 0px 9px 10px;
    border: 1px solid #3ac4f7;
}

.feedback .list-post {
    border: 1px solid #eeeeee;
}

.feedback .list-post li {
    padding: 10px;
}

.feedback .list-post li + li {
    border-top: 1px solid #eeeeee;
}

.articles-last_title {
    background: #eeeeee;
    color: #00baff;
    padding: 9px 0px 9px 10px;
    border: 1px solid #eeeeee;
}

.articles-last .list-post {
    background: #f9f9f9;
    border: 1px solid #eeeeee;
}

.articles-last .list-post li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}

.articles-last .list-post li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

#back-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    height: 30px;
    width: 30px;
    background: #00baff;
    border-radius: 4px;
    text-align: center;
    line-height: 28px;
    color: #fff;
}

#back-top:hover {
    cursor: pointer;
    opacity: 0.75;
}

.header_menu.menu-desktop.fixtop {
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.list-post-mb {
    padding-top: 15px;
}

.list-post-mb li + li {
    border-top: 1px solid #ededed;
    padding-top: 10px;
    margin-top: 10px;
}

.rate_title {
    padding-bottom: 10px;
    border-bottom: 10px solid #eeeeee;
}

.rate_content {
    flex-wrap: nowrap;
    overflow: auto;
}

.rate_content_item {
    background: #f4f4f4;
    min-width: 230px;
}

.rate_content_item + .rate_content_item {
    margin-left: 15px;
}

.list-post-cat-top li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #b1b0b0;
}

.list-post-cat-top li:last-child {
    border-bottom: 0;
}

.list-post-cat-bottom li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

.list-post-cat-bottom li:last-child {
    border-bottom: 0;
}

.cat-post {
    position: relative;
    padding: 3px 0 3px 12px;
    border-left: 4px solid #0aabe5;
}

.cat-post:before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: -4px;
    right: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #585858, #585858 75%, transparent 75%, transparent 100%);
    background-size: 3px 1px;
}

.cat-post:after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: -4px;
    right: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #585858, #585858 75%, transparent 75%, transparent 100%);
    background-size: 3px 1px;
}

.cat-post .title {
    color: #0aabe5;
}

.cat-post .cat-relate a {
    display: inline-block;
    color: #025278;
    border: 1px solid #025278;
    padding: 0 10px;
    border-radius: 30px;
}

.cat-post .cat-relate a + a {
    margin-left: 5px;
}

.interactive li .wp-icon {
    display: inline-block;
    margin-right: 2px;
    border: 1px solid #737373;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 23px;
}

.interactive li + li {
    margin-left: 5px;
}

.wrap-articles-related {
    padding: 15px 0 15px 30px;
    border: 1px solid #dddddd;
    border-left: 8px solid #0f4e65;
    background: #f6f6f6;
}

.wrap-articles-related .articles-related li {
    padding-left: 15px;
    position: relative;
}

.wrap-articles-related .articles-related li:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #81d4fa;
    left: 0;
    top: 5px;
}

.wrap-articles-related .articles-related li + li {
    margin-top: 10px;
}

.wrap-tags {
    position: relative;
    padding-bottom: 30px;
}

.wrap-tags:before {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    right: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #585858, #585858 75%, transparent 75%, transparent 100%);
    background-size: 3px 1px;
}

.wrap-tags:after {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 0;
    right: 0;
    height: 1px;
    background-image: linear-gradient(90deg, #585858, #585858 75%, transparent 75%, transparent 100%);
    background-size: 3px 1px;
}

.wrap-tags .list-tag {
    display: inline-flex;
    flex-wrap: wrap;
}

.wrap-tags .list-tag li {
    margin-bottom: 5px;
}

.wrap-tags .list-tag li a {
    padding: 1px 4px;
    border-radius: 30px;
    color: #333;
    background: #e1e1e1;
}

.wrap-tags .list-tag li + li {
    margin-left: 5px;
}

.list-post-detail {
    border: 1px solid #cbcbcb;
}

.list-post-detail .title {
    background: #00baff;
    padding: 5px 0 5px 15px;
    color: #fff;
}

.list-post-detail .list-post {
    padding: 10px 10px 15px 10px;
}

.list-post-detail .list-post li + li {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dashed;
}

.list-post-detail_2 .list-post {
    padding: 10px 10px 15px 10px;
}

.list-post-detail_2 .list-post li + li {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ebebeb;
}

.list-post-last {
    background: #f9f9f9;
    padding: 10px 10px 15px 10px;
}

.list-post-last li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #aeaeae;
}

.list-post-last li:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.news-relate-2 li + li {
    border-top: 1px solid #e3e3e4;
    padding-top: 10px;
    margin-top: 10px;
}

.wrap-tags-mb {
    padding: 0;
}

.wrap-tags-mb:before {
    display: none;
}

.wrap-tags-mb:after {
    display: none;
}

.wrap-tags-mb .list-tag li a {
    padding: 3px 4px;
    border-radius: 0;
    color: #333;
    background: #e1e1e1;
}

.comment-mb .wrap-title {
    position: relative;
}

.comment-mb .wrap-title:before {
    position: absolute;
    content: "";
    background: #00baff;
    height: 5px;
    width: 160px;
    z-index: 999;
    bottom: 0;
    left: 0;
}

.comment-mb .wrap-title:after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: #bdbdbd;
    bottom: 2px;
    z-index: 99;
    left: 0;
}

.footer_desktop_menu1 .border-right-custom {
    position: relative;
}

.footer_desktop_menu1 .border-right-custom:after {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    content: "";
    width: 2px;
    background: #d9d9d9;
}

.footer_desktop_menu1 .list-menu {
    display: flex;
    flex-wrap: wrap;
}

.footer_desktop_menu1 .list-menu .box-menu {
    width: 20%;
}

.footer_desktop_menu1 .list-socical li {
    margin-bottom: 10px;
}

.footer_desktop_menu1 .list-socical li .icon {
    display: inline-block;
    background: #f9f9f9;
    padding: 1px 5px;
    margin-right: 5px;
}

.footer_desktop_sapoweb .border-top {
    border-top: 1px solid #000 !important;
}

.footer_desktop_menu2 {
    border-top: 1px solid #51d0ff;
    border-bottom: 1px solid #51d0ff;
    background: #00baff;
}

.footer_desktop_menu2 .menu {
    display: flex;
}

.footer_desktop_menu2 .menu li {
    flex-grow: 1;
}

.footer_desktop_menu2 .menu li a {
    display: block;
    text-align: center;
    padding: 4px 0;
    color: #fff;
    text-transform: capitalize;
}

.footer_desktop_menu2 .wrap-social {
    display: none;
}

.footer_desktop_address {
    padding: 15px 0 10px 0;
    border-bottom: 2px solid #d5d5d5;
}

.footer_desktop_contact {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}

.footer_desktop_contact li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 2px 0 0 10px;
    border-left: 4px solid #00baff;
}

.footer_desktop_contact li .wrap-title {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.footer_desktop_contact li .wrap-title .link-quote {
    background: #1e88e5;
    border: 1px solid #5aa8ec;
    border-radius: 30px;
    color: #fff;
    margin-left: 5px;
    padding: 3px 13px;
}

.footer_desktop .copyright {
    padding: 4px 0;
    background: #d7d7d7;
    font-style: italic;
}

.footer-mb {
    background: #dfdfdf;
}

.footer-mb_logo {
    padding: 2px 0;
}

.footer-mb_logo .logo {
    width: 25%;
    min-width: 152px;
}

.footer-mb_logo .socical li a {
    color: #999999;
    font-size: 25px;
}

.footer-mb_logo .socical li + li {
    margin-left: 15px;
}

.footer-mb_menu {
    padding: 30px 0;
}

.footer-mb_menu li {
    width: 50%;
    margin-bottom: 20px;
}

.footer-mb_menu li:last-child {
    margin-bottom: 0;
}

.footer-mb_menu li a {
    color: #585858;
}

.footer-mb-contact {
    padding: 20px 0;
}

.footer-mb-contact_item {
    margin-bottom: 30px;
    padding-left: 23px;
    border-left: 6px solid #00baff;
}

.footer-mb-contact_item:last-child {
    margin-bottom: 0;
}

.footer-mb-address {
    padding: 20px 0;
}

.footer-mb-copyright {
    padding: 10px 0 20px 0;
}

/*# sourceMappingURL=style.css.map */