<footer class="footer-mb">
    <div class="border-footer_mb"></div>
    <div class="footer-mb_logo">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <a href="" class="d-inline-block logo"><img src="../images/logo.png" alt=""></a>
                <ul class="d-flex align-items-center socical">
                    <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-footer_mb"></div>
    <div class="container">
        <ul class="d-flex flex-wrap footer-mb_menu">
            <li><a href="">Thời sự</a></li>
            <li><a href="">Tiêu dùng</a></li>
            <li><a href="">Tạp Chí In</a></li>
            <li><a href="">Chính sách mới</a></li>
            <li><a href="">Vấn đề sự kiện</a></li>
            <li><a href="">Nhịp sống</a></li>
            <li><a href="">Nông Nghiệp nông thôn</a></li>
            <li><a href="">Liên kết</a></li>
            <li><a href="">Kinh tế</a></li>
            <li><a href="">Văn hóa</a></li>
            <li><a href="">Tư vấn luật</a></li>
        </ul>
    </div>
    <div class="border-footer_mb"></div>
    <div class="container">
        <div class="footer-mb-contact">
            <div class="footer-mb-contact_item">
                <h3 class="f-roboto-b t-20">Phó tổng biên tập phụ trách</h3>
                <div>Nguyễn Nam Thắng</div>
            </div>
            <div class="footer-mb-contact_item">
                <h3 class="f-roboto-b t-20">Trưởng ban điện tử</h3>
                <div>Nguyễn Nam Thắng</div>
            </div>
            <div class="footer-mb-contact_item">
                <h3 class="f-roboto-b t-20">Hợp tác quảng cáo</h3>
                <div class="mb-2">marketingTCTH@gmail.com</div>
                <a href="" class="d-inline-block f-roboto-b t-20">090.468.4321</a>
            </div>
        </div>
    </div>
    <div class="border-footer_mb"></div>
    <div class="container">
        <div class="footer-mb-address">
            <div class="d-flex align-items-start mb-1">
                <div class="mr-1 cl-00baff"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div>Tầng 3 - Số 17 ngõ 167 Phố Tây Sơn, Đống Đa, Hà Nội</div>
            </div>
            <div class="d-flex align-items-center mb-1">
                <div class="mr-1 cl-7f7f7f"><i class="fa fa-envelope " aria-hidden="true"></i></div>
                <div>tapchidoanhnghiepvathuonghieu@gmail.com</div>
            </div>
            <div class="d-flex align-items-center mb-1">
                <div class="mr-1"><img src="../images/icon-phone-2.png" alt="" class="d-block w-15"></div>
                <div>024.6657.6928 - 034.333.1111</div>
            </div>
        </div>
    </div>
    <div class="border-footer_mb"></div>
    <div class="container">
        <div class="footer-mb-copyright font-italic">
        <h3 class="t-14 f-roboto-b mb-1">Bản quyền thuộc về Tạp chí Doanh nghiệp và Thương hiệu.</h3>
        <div>Mọi hành động sử dụng nội dung của doanhnghiepthuonghieu.vn phải có sự đồng ý bằng văn bản của Tạp chí Doanh nghiệp và Thương hiệu. Tạp chí Doanh nghiệp và Thương hiệu. điện tử không chịu trách nhiệm nội dung ở những trang ngoài</div>
    </div>
    </div>
</footer>
<div id="back-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
<script src="../vendor/jquery/jquery-3.3.1.min.js"></script>
<script src="../vendor/popper/popper.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../vendor/owlcarousel/owl.carousel.js"></script>
<script src="../js/global.js"></script>